[2018-09-23 10:30] RBleyenberg opened #34 "mongoDB"
Hodwy,

Question... normally within entity i do the following when monogdb is on the backend.

`export const adapter: EntityAdapter<Product> = createEntityAdapter<Product>({
  selectId: product => product._id
});`

Where do i do this the correct way within this awesome library.

Thanks in advanced.

[2018-09-23 15:05] #34 closed

[2018-09-24 16:35] jrista commented on #34
Instead of using an adapter with an id selection function, we use a decorator called `@Key` that you decorate any key properties of your entity with. Our framework then utilizes that key property (or now, properties, as I recently implemented composite keys) as the id of the entity.

[code]

[2019-06-27 15:39] richardshergold opened #45 "Error: Detected unserializable action at "info.modelType""
I'm developing an Ionic/Angular app and giving NgRx-Auto a try.  The project is using Angular 8 and NgRx 8.  I think I have set everything up correctly but when I load a component and try the loadAll() method in the facade I get the error:

[code]

My Model:

[code]

My Service:

[code]

My facade:

[code]

My email.state:

[code]

My Component:

[code]

Full Error Log:

[code]

No doubt I am doin

[2019-06-27 15:57] jrista commented on #45
Richard, thanks for the bug report! I'm looking into it now.

[2019-06-27 16:11] jrista commented on #45
Quick Q. Is core a separate module that is imported into your root module, state module, etc?

[2019-06-27 16:20] richardshergold commented on #45
Core.js will be the "@angular/core" module imported into app.module.ts

[2019-06-27 16:25] richardshergold commented on #45
Something else I should have noted:

My app.state.ts has the email entity state in it + my two non-entity states (have I done this right) ?

[code]

[2019-06-27 16:28] richardshergold commented on #45
Re core -  I have my guards, models and services sub-folders in a core folder off the app folder, is that what you mean?

[2019-06-27 16:30] jrista commented on #45
Yes, that was what I was curious about. So your email service, is that also in your core module? It would help if you could put together a small example project in StackBlitz. That way I can see how you've organized things and what modules each model or service is in.

[2019-06-27 16:37] richardshergold commented on #45
Email is in app/core/models/email.mode.ts
EmailService is in app/core/services/email.service.ts
Emails-list component is in app/feature/emails/email-list/emails-list.componen.ts and has its own module
EmailFacade is in app/state/facades/email-facade.ts
app.state.ts is in app/state
email.state.ts is in app/state

Hope that helps!

[2019-06-27 16:39] richardshergold commented on #45
and in app.module.ts I have

`{ provide: Email, useClass: EmailService }`

[2019-06-27 16:40] richardshergold commented on #45
At the time of the error  I can see

` [Emails] Generic Load All `

in Dev tools so the action is getting triggered.  No Network call is made though.

[2019-06-27 16:41] richardshergold commented on #45
here's my package.json

[code]

[2019-06-27 16:48] richardshergold commented on #45
Just to be clear - core is not a module, just a folder off of "app"

[2019-06-27 16:49] richardshergold commented on #45
Here's my full app.module.ts

[code]

[2019-06-27 17:05] jrista commented on #45
Ah, ok. Well, if you have the store imported into your app module, you should be bringing in all the auto-entity state in there as well. Seeing your app module there, it does not appear as though you have actually brought in any of your auto-entity state. So what I would do is this. Anything you have in state.module, put it all in app.module. You seem to have non-entity reducers as well as entity

[2019-06-27 17:07] richardshergold commented on #45
Thanks Jon - I will take a look at this later or tomorrow and will get back to you.  Much appreciated!

[2019-06-27 17:07] jrista commented on #45
I've put together a small reproduction repo:

https://github.com/jrista/ngrxae8

The way I currently have things in here, it works. Feel free to pull and fiddle with it. If you can replicate your issue, push it to a new branch and I'll take a look. But I suspect that the way you have your app.module and state.module configured right now is likely the problem.

[2019-06-27 17:07] richardshergold commented on #45
Thanks!

[2019-06-27 17:20] jrista commented on #45
@richardshergold You might want to edit your app.module post and yank out any keys or tokens. ;)

[2019-06-27 17:28] richardshergold commented on #45
So if I separate my entityReducers and my non Entity reducers like this:

[code]

how do I get both of those reducers into here?

`StoreModule.forRoot(entityReducers, { metaReducers: appMetaReducers }),`

[2019-06-27 18:15] jrista commented on #45
you will need to use `combineReducers` from @ngrx.

[2019-06-27 19:26] richardshergold commented on #45
Oh ok - thank you so much for your help.  I will give it a go in the morning.

[2019-06-28 07:28] richardshergold commented on #45
It works!  I didn't need to combine the reducers using combineReducers though.  I just have this now and it seems to be working:

[code]

thanks so much for your help

[2019-06-28 16:08] jaduffy007 commented on #45
Hey guys,

Please remove me from the email list.

Thanks,
James Duffy

On Jun 27, 2019, 11:05 AM -0600, Jon <notifications@github.com>, wrote:

[2019-06-28 16:22] jrista commented on #45
James, you must be watching the repo. You would have to unwatch/unfollow to stop getting emails. That wouldn't be something we control.

[2019-06-28 16:23] jrista commented on #45
Glad you got it working! The above does indeed look correct to me. You usually want all your shared state configured in the root state interface and mapped in the main reducer map. Let me know if you have any other issues, but hopefully you can start rolling now.

[2019-07-02 06:54] #45 closed

[2019-07-18 09:05] richardshergold opened #47 "create action causing "update" is not a function error"
I was trying the create action on an entity collection (called Email) and I got the following error:

`NgRxAutoEntityService Error: Unable to invoke required operations on the EmailService Entity service "update" is not a function
`

I changed the action to a createMany and this seemed to work ok so I am wondering if there is a bug with the create action?

[2019-07-21 03:17] jrista commented on #47
Thank you for the report, @richardshergold. Looks like I had a typo in one of our error messages. Will be fixed with the coming update to v0.2.

[2019-07-25 22:24] jrista commented on #47
Resolved by #48

[2019-07-25 22:24] #47 closed

[2019-07-28 14:15] schuchard opened #50 "Fails to compile (ramda) - 0.2.0"
- yarn add @briebug/ngrx-auto-entity@~0.2
- add to root module
[code]

[code]

[code]

[2019-07-28 19:21] jrista commented on #50
Thanks for the report, @schuchard. Looks like there was a straggler reference to ramda, even though I'd removed it from the library as a peer dependency.

[2019-07-29 15:24] jrista commented on #50
Fixed by #51

[2019-07-29 15:24] #50 closed

[2019-08-21 01:32] mxdmedia opened #56 "Question regarding custom reducers."
I just came across this library, and it looks to meet most (perhaps all?) of my needs for a project i am working on.  I've watched a couple of talks about it on youtube, and I am quite excited to give Auto-Entity a go!

One question I have, as it doesn't seem to be in the docs.   How does one go about adding a custom reducer (reacting to actions from another entity's actions) for an auto-entity ma

[2019-08-21 06:16] jrista commented on #56
Hi @mxdmedia. Apologies for the lax documentation, this is something I am working on.

Regarding custom reducers, yes, you can absolutely write your own! Auto-Entity is just built on top of NgRx, and the way it was designed, it generally does not change how you normally use NgRx. So you can always do the same kinds of things you might normally do, such as write reducers.

The empty stub reducers A

[2019-08-21 13:51] mxdmedia commented on #56
Thanks for the response @jrista .  I am going to use auto-entity on a test project today, and see how far I can get.  I look forward to hearing your further thoughts/details.

One thing to clarify.  First you say:

then

I assume that these are not the same, due to the `IEntityState` being wrapped around my model.  E.g.- I can't just write a simple insert reducer for the incoming `Genus` data.  I'

[2019-08-22 17:19] jrista commented on #56
@mxdmedia So, we have done what we can to make auto-entity state compatible with @ngrx/entity. We have not done a lot of testing, however there is nothing that says you shouldn't be able to create an entity adapter and use that to update state that auto-entity manages.

That said, the easier way to handle it all is to create an effect that handles your initiating action, and then dispatch multiple

[2019-08-22 17:44] mxdmedia commented on #56
Awesome!  That looks like a great way to handle it.  I really appreciate you taking the time to respond, and come up with some starter code for me.  It is great how Auto-entity is similar to a typical @ngrx/entity.  For me it clarifies how it can be used in the context of vanilla ngrx.  I am definitely going to give auto-entity a shot in my current project, rather than trying to build out all my o

[2019-08-22 21:35] jrista commented on #56
@mxdmedia Great to hear you'll be giving it a try! Let me know how it goes, and if you have any needs.

Regarding selectors... Selectors is an area where you can create a countless numbers of them. It is a best practice to use selectors as much as possible to retrieve data from the store. That is a best practice we promote with Auto-Entity as well. The only difference is, we tend to wrap selector

[2019-08-23 14:31] mxdmedia commented on #56
I'll definitely provide you with feedback (and likely some questions) as I use auto-entity.

Re: Selectors, I too am a huge proponent of 'selector all the things.'  I find that selectors can get a bit tricky when trying to join data together.  If you ever do namespace out features, having a 'join selectors' optional feature might be nice, but I fully see where you are coming from re: size.  The wa

[2019-08-25 21:45] mxdmedia commented on #56
Let me know if you'd like me to open a new issue for things like this.  I've started using auto-entity, and so far, so good.  However, I haven't been able to find in the docs how to do one particular function that I can do with @ngrx/entity: specify a `sortComparer`.  In my current project, I have quite a few models that can be re-sorted by the user, and thus have a `delta` parameter for sorting.

[2019-08-25 22:36] mxdmedia opened #57 "Gitbook Docs: consistency with repo example code, as well as some errors."
While working through setting up my first auto-entity project, I am finding some inconsistencies between the example code in the github repo and the examples in the gitbook docs, as well as a few errors.  Does the gitbook have a repo where PRs are accepted? I'd be happy to create some to help improve the docs.  In lieu of being able to submit PRs, I'll post what I am finding here.  So far I have f

[2019-08-28 18:38] mxdmedia opened #58 "Feature Request- Allow specification of a sorting function for entities"
In `@ngrx/entity`, when building an adapter, one is allowed to provide a sort function to be applied whenever new entities are added to the store.  That sort function is used to sort the ids in the entity id list.  For example, if my model looks like this:

[code]

delta is a value that determines the ordering of models when they're listed.  Thus, in `@ngrx/entity` I'd do the following when making

[2019-09-02 15:40] mxdmedia opened #59 "Feature Request- Auto date conversion via decorator."
I'm not sure if this would be within the scope you envision for auto-entity, but along the "auto" lines...

One common (at least for me) operation I regularly apply to my store data is converting back and forth from strings to dates.  In particular, within my app, I typically want a javascript `Date` object, but obviously my API sends and expects formatted datetime strings.  So, would it make sens

[2019-09-02 18:26] jrista commented on #59
So, this might be something I could work into another decorator I am working on, `@Entity`. The entity decorator will allow you to "configure" each entity model. Now, date conversion is something you could handle already in the entity service, but I'll think about options for adding it to the entity decorator in the future.

With the entity service, converting dates would be pretty strait forward:

[2019-09-02 19:01] mxdmedia commented on #59
Fantastic!  The entity service will work great for my current use case, and looks quite easy to implement.  Thanks for the sample code.

I really like your thoughts on a possible future implementation.  I think it would make doing formatting like this easier and be very flexible.  In my case, I use the `date-fns` library throughout my code to handle date calculations, so the flexibility to use its

[2019-09-04 07:11] richardshergold opened #60 "deselectMany error"
I could well be doing this wrong but after I make a call in my facade to selectMany like this

`this.selectMany([item])`

which seems to work and leaves a single value in **currentEntitiesKeys** of this:

`100000080_organisations-email_592913`

If I then try to call deselectMany passing across the same item in the array like this:

`this.deselectMany([item])`

I get an error of:

`100000080_organi

[2019-09-04 08:54] Edouardbozon opened #61 "Typos in doc"
Hi,

I spotted some typos in documentation and I read in #57 that for now you're using Github issues to fix things in documentation. In my opinion it could be a waste of time and very fastidious.

Gitbook provides the ability to [connect documentation to a repository](https://docs.gitbook.com/integrations/github). It can help us to contribute more directly.

What do you think ?

[2019-09-04 08:55] richardshergold opened #62 "deselectAll error"
I'm doing an updateMany call in my facade on a bunch of selected items which works fine but when I follow this up with a call to deslelectAll() in order to deselect the items that I updated, I get an error:

[code]
Although the error occurs the items are actually de-selected in the state i.e the currentEntityKeys property disappears

Here's my facade method:

[code]

if I move the deslectAll outsi

[2019-09-04 12:05] richardshergold opened #63 "currentEntityKeys v CurrentEntityKey"
I think there may be an issue with the single/multiple selection of Entities.

If I select item(s) using selectMany such that I then have a value in currentEntityesKeys I can then do

`this.currentSet$.pipe(take(1)).subscribe`

If an item is selected singularly using myFacade.current$ i.e so that currentEntityKey is populated then the above line results in the error:

[code]

[2019-09-04 16:20] jrista commented on #61
Hi @Edouardbozon, and thank you for the tip. I'll look into connecting the gitbook docs to a repo this weekend so you guys can start fixing typos. I appreciate the support there. I'll post here once I have that working.

[2019-09-04 16:24] jrista commented on #62
I would think the first method should work, and seems it would be the more correct implementation. I'll look into this, as I wonder if there may be some kind of timing issue.

[2019-09-04 16:31] jrista commented on #63
Currently, multi-selections and single selections are supposed to be distinct. You should be able to select a single entity and that should work regardless of whether you have a multi-selection or not, and regardless of whether the single entity is also in the current multi-selection.

Given that, I may need some more information here. If you dispatch a `Select` action, then try to use `currentSet

[2019-09-04 16:33] jrista commented on #60
Thanks for the bug report, @richardshergold. Could you by chance share your entity model? Does it have a composite key?

[2019-09-04 16:42] richardshergold commented on #63
Thanks @jrista I will check my code and make sure I am selecting items correctly.

[2019-09-04 16:43] richardshergold commented on #60
[code]

[2019-09-04 17:05] richardshergold commented on #63
@jrista that's working better now - I hadn't got my head round the two selections methods being totally distinct - I have various ways in which items can be selected, I just have to be careful :-)

[2019-09-04 17:05] #63 closed

[2019-09-04 17:24] jrista commented on #63
Ok, glad you got it figured! I'll add some better documentation around selections once I get the chance, as yes, the fact that they are distinct selections is not necessarily obvious or intuitive.

[2019-09-05 13:58] richardshergold commented on #60
This is what I am doing to toggle an item as selected or de-selected?  Should this work?

[code]

[2019-09-05 16:21] jrista commented on #62
@richardshergold Any chance you could create a small project to reproduce this issue?

[2019-09-05 16:35] jrista commented on #60
Hmm, at first glance, I am not sure it will. I will have to play with it a bit, but the way you have that coded now, I would think that you will only see something happen if currentSetKeys actually emits a new value. If it does not emit a value, then nothing will happen until it does.

I think you may need to take a more reactive approach to this. At the very least, something along the lines of th

[2019-09-05 16:36] jrista commented on #60
@richardshergold So looking at your model there. Can you help me understand where this entity key is coming from:

`100000080_organisations-email_592913`

Is that the actual key value of email._id?

[2019-09-05 16:58] richardshergold commented on #60
Yes. That’s the id value.

[2019-09-06 01:16] jrista commented on #62
I believe I have identified the causes of this bug. I was making some invalid assumptions in the reducer, that certain data would always be arrays when in fact sometimes they could be falsy. I've added the necessary checks to ensure that the code functions even in the presence of falsy values.

I will also be adding some additional checks to some of the actions, to ensure that certain arguments me

[2019-09-06 02:49] jrista commented on #60
@richardshergold I have identified the cause of this issue as well. I'll be rolling both fixes into a single PR soon here.

[2019-09-06 03:14] #60 closed

[2019-09-06 07:30] richardshergold commented on #62
@jrista FYI - after upgrading to 0.2.6 my second method stopped working - there was an error on the deselectAll call which worked in 0.2.5.  However, by reverting back to the first method **AND** changing the call to deselectMany instead of deSelectAll it now works i.e to toggle an item on and off this code now works:

[code]

[2019-09-06 16:28] jrista commented on #61
Documentation can now be updated by forking:

https://github.com/briebug/ngrx-auto-entity-docs

[2019-09-06 16:29] #61 closed

[2019-09-06 16:46] #57 closed

[2019-09-06 16:48] jrista commented on #57
Doc issues mentioned above have been corrected. Documentation may now be updated by forking the new docs repo and PRing changes in that way, if future docs issues are found:

https://github.com/briebug/ngrx-auto-entity-docs

[2019-09-06 17:06] jrista commented on #58
@mxdmedia I have researched this a bit more. Based on how the data is stored in state, unless the sort keys were also the primary keys of the entities, I don't think we will be able to actually store the entities in state in any particular sorted order.

We can and will certainly be able to sort the entities according to the specified sort key(s) when selecting data from state. I just wanted to ma

[2019-09-06 18:06] mxdmedia commented on #58
I'm not sure if this is helpful but, I believe the way `entity` does this is by re-sorting the `ids` array.  So you take a performance hit on any operations that add or modify entities, as the ids need to be resorted each time (a delete wouldn't require re-sorting, as the remaining entity ids should still be in the correct order).

Looking at the entity code, there are two possible entity adapters

[2019-09-06 20:54] jrista commented on #58
I will have to take a look and see. I guess the ids array could be sorted, I'll need to see how much that affects the complexity of the reducer overall. Aside from many different ways to load data (each with different semantics, such as pages vs. ranges, etc.; I am not sure sorting in the app would work at all with ranges...or, for that matter, paging), we would need to make sure that if any sort

[2019-09-07 01:51] mxdmedia commented on #56
Since this was re-opened, I have one more similar, though slightly different use case I am trying to get working.

Lets say I have the following models, handled nicely by `auto-entity`:
[code]
My api has an endpoint: `api-domain.com/api/messages`, which pulls a list of messages, and its return format looks something like:
[code]
However, one can also pass an `include` parameter, to optionally incl

[2019-09-09 03:34] mxdmedia opened #65 "Feature Request- Selector and Facade method for createdAt"
This one should be easy, and I'm guessing it was just an oversight.  In auto-entity, there are selectors and facade methods for `loadedAt`, `savedAt` and `deletedAt`, but there are no selectors/methods for `createdAt`.  It is in the state, and is updated when a new entity is created, but there is no way to get access to it, short of writing a custom selector.

[2019-09-09 05:23] jrista commented on #56
@mxdmedia Yeah, I re-opened it just so it would be visible to future visitors who might have similar questions.

As for your question. I think this would be the same as before. Create a custom effect to split your result and dispatch the necessary success actions so Auto-Entity can handle the rest. You could handle the dynamic potential of the data easily enough in an effect:

[code]

Note the act

[2019-09-09 12:43] mxdmedia commented on #56
Thanks again for more help.  The action/effect at the top make sense.  I will give that a try.  On a related note..

This is how I was thinking it would be implemented, but couldn't figure out how.  I look forward to seeing the new @entity decorator- it sounds like it is going to be quite powerful.

[2019-09-09 20:00] jrista commented on #56
I hope it adds the level of flexibility that will allow users like yourself, who are more on the "power user" end of the spectrum, to do the more complex things they need without having to expend a huge amount of effort creating actions and effects for everything.

[2019-09-09 20:02] jrista commented on #62
Hmm, it is strange that `deselectAll()` is not working. I think I'll need a working replication of the issue to resolve the issue there.

Is it just not deselecting anything? Or are you getting an error? Or, are you seeing an error in the log?

[2019-09-10 13:22] mxdmedia opened #66 "Feature Request- allow ofEntityType to accept multiple types."
On convenient feature of ngrx's entities, is the ability to specify multiple actions in `ofType` to trigger an effect.  It would be great to do the same using auto-entity's `ofEntityType` function.  A tricky part of this would be the function interface, as two parameters are required for each defined `entityType`.  A couple of possibilities:

Allow multiples of two parameters up to say, 5 total ac

[2019-09-10 15:56] jrista commented on #66
I will see what i can do here. These are generic operators, and when you involve multiple types sometimes the typing through the rest of the pipe can get quirky. Now when we originally wrote the library, we were trying to support Angular and NGRX back to v6. We now only support 8+, which also means we will require newer version of TypeScript, which might make a richer ofEntityType operator possibl

[2019-09-10 16:04] mxdmedia commented on #66
One thought- is there a function (or could one be created) that returns the proper enum/string that ngrx's `ofType` requires?  e.g.:
[code]
That way a user could just use ngrx's `ofType` if they want to trigger an effect with multiple actions.

[2019-09-10 16:56] jrista commented on #66
If you use ofType that way, you would not actually be filtering on the model type as well. You can already use just ofType with EntityActionTypes. But, such effects will operate on all entities regardless of which ones.

The ofEntityType operator is designed to allow you to filter on both action type and model simultaneously. The trick here is getting the types to thread through the observable pip

[2019-09-10 17:16] mxdmedia commented on #66
I think we're talking about the same thing, or I've totally misunderstood how `ofType` and `ofEntityType` works.  I think a concrete scenario might illustrate what I'm trying to accomplish (and I am all ears for other ways to get this done).

I have a model, with an array of tags attached to it.  The models look something like:
[code]
My api has an endpoint that returns the top 10 tags, along with

[2019-09-10 19:38] jrista commented on #66
So in the example you have shared, you don't seem to care about the type of the model. So ofType will work fine there. However in the case where the type of the model DOES matter to later operators in the pipe, the ofType solution here wouldn't work as well unless you explicitly specified the types:

[code]

This alone is kind of ugly and convoluted, having to specify all those complex types like

[2019-09-10 19:52] jrista commented on #66
So, to directly address this concern. First, your particular example is already possible with a single effect, and a single instance of ofEntityType. Since you are not actually working with different entities, you are just working with different actions of the same entity:

[code]

However, assuming you DID need to handle different model types. This should actually be possible now, and maybe this

[2019-09-10 19:55] jrista commented on #66
So, a lot of this is just how extensive your knowledge of RxJs is, I think. ;) RxJs is extremely powerful, but its power is often obscured behind the screen of a major paradigm shift in how you think about programming.

This is partly the beauty of RxJs and NgRx in general. They are built on top of very declarative, functional paradigms that are highly composable. Sometimes it just requires knowin

[2019-09-10 23:24] jrista commented on #66
@mxdmedia For now, can you give the `merge()` approach a try? I've fiddled with trying to properly type this in the library, and I think it will indeed be complex and arcane enough that I'll need some time to figure out if it is possible at all, and if it is possible...I still need to decide if it is best to try and add more to the library, or just recommend that users of the library resort to usi

[2019-09-10 23:30] mxdmedia commented on #66
Wow!  lots of great insight here.

Re: Knowledge of RxJs- this is definitely something I am trying to learn more, as you are right: it is a significant paradigm shift, and you have to look at programming through a very different lens.  I am to the point where I am pretty comfortable writing my own implementations using a handful of the rxjs operators, but when it comes to reading other's implement

[2019-09-10 23:31] jrista commented on #66
Absolutely! I'm a huge fan of RxJs, and any opportunity to teach people how to do it better, I try, I guess. ;)

[2019-09-17 15:44] jrista commented on #59
@mxdmedia I wonder if you could leverage TypeScript features to support your readonly needs. If you want to prevent users from changing a property on an object, I think that may be out of the scope of Auto-Entity. I am not sure how I would enforce that.

TypeScript, however, should be able to enforce that at compile time, if it has the features. You might also be able to write a decorator to enfor

[2019-09-17 15:49] mxdmedia commented on #59
The more I have worked with Auto-entity, the more I realize the read-only bit really isn't needed.

Rather than a true "read only" where auto-entity/typescript would enforce that the user cant change the value in Javascript, I was implying that a parameter specified as ReadOnly would automatically be suppressed from being passed back to the API on write operations (as I have this one API endpoint

[2019-09-17 15:53] jrista commented on #59
Yup! Sounds like you are getting a handle on things. I've been busy ramping up another project lately, but I hope to get back to the Entity decorator and all those useful features soon.

[2019-09-17 15:57] jrista commented on #59
I think I am going to take a more general approach to type conversion, though. Instead of having an explicit date converter, I am heading more in a direction where you can define any number of converters, name them, and then apply them to properties of your models with something like:

[code]

Converters will also hopefully be configurable at the module level, by passing in configuration to `.forR

[2019-10-11 17:37] jrista commented on #58
@mxdmedia I am currently leaning fairly strongly in the direction of sorting in selectors. Due to the nature of loading with auto-entity, we can load data sets that may work well with sorting, and others that may not.

So I think what I'll be doing is adding some selectors for retrieving sorted results, based on the entity decorator config. That way the sort cost is only incurred when you request

[2019-10-13 08:50] #65 closed

[2019-10-13 09:05] jrista commented on #66
A new factory function is being added to address the need to handle one or more actions across more than one entity type: `fromEntityActions`. This is akin to the existing `from` RxJs operator, in that it produces a stream of actions that match the specified criteria.

[code]

[2019-10-13 09:37] #66 closed

[2019-10-14 18:42] jrista commented on #62
@richardshergold Are you still getting errors when using `deselectAll()`? If so, could you share one of the error logs here?

[2019-10-14 18:52] richardshergold commented on #62
Sorry. Project is now on back burner so have not looked at this for a while. Feel free to close. I will let you know when I’m back on it!

[2019-10-14 19:40] jrista commented on #62
I'll keep this open. Whenever you get a chance. Thanks for the update.

[2019-10-14 19:44] jrista opened #70 "Feature: @Entity model decorator"
Proposal for adding a new `@Entity` decorator that will allow configuration of each entity by decorating the model class. This decorator would encompass options such as custom plural name, filtration of which effects will be applied for the entity, and potentially more in the future.

Current future additions include ability to specify a custom sort, which may be used with new related sorted selec

[2019-10-15 15:23] mxdmedia commented on #58
@jrista

Sounds great.  To get an idea of how it would work..  you'd provide a sort function with a decorator, and that would automagically be imported/used in an auto-entity generated `selectSorted` selector? I'm imagining something like this:

`person.model.ts`
[code]

[2019-10-15 21:57] jrista commented on #58
Close, it will be decorator based, but it will be integrated into the `@Entity` decorator:

[code]

[2019-10-26 02:22] paquettealice opened #71 "Feature: add lastLoadAction property to IEntityState/Facades"
### Proposal: add lastLoadAction property to IEntityState/Facades

Proposal for adding a new `lastLoadAction$` property to the base Facade. The main purpose of this is to provide a pseudo-caching mechanism, which can be partially achieved with `loadedAt$`, albeit with a lot of uncertainty involved. This new property aims to remove that uncertainty, at least to a workable degree.

To demonstrate th

[2019-10-29 19:01] mxdmedia opened #72 "Feature: Partial Update actions."
Still using and really happy about how auto-entity works!  As you may have gathered from my prior issues, some of the entities I am using are a bit on the complex side.  In the past, with the vanilla ngrx entity library, I utilized their partial update options quite a bit.  I am wondering if such functionality might be within the realm of your plans for auto entity?  For example, lets say I have t

[2019-11-04 15:11] paquettealice commented on #72
Hey there!

I'm a new (and temporary) addition to the team here, and I just wanted to hop in and tell you we're looking into this and have done a bit of brainstorming already. Unfortunately, nothing concrete just yet. We'll keep you in the loop when that changes though!

Thanks for your time :)

[2019-11-04 16:39] jrista commented on #72
@mxdmedia Thanks for the feature request. We are brainstorming the best option here, as we do agree partial updates are a very useful feature. The _key_ in how to do it revolves around the entity key, as we need it to find the right entity to update.

We are not yet sure if we just want to make partial update of existing entities in state the default behavior, or whether to make that an explicit r

[2019-11-06 04:52] paquettealice opened #75 "Feature: Add correlationId to Actions"
Proposal for adding a correlationId to Actions, specifically `IEntityAction`. This would allow developers to link correlated actions such as `LoadAll` and `LoadAllSuccess`, improving flow, readability, and accuracy when chaining multiple operations that need to be done in a certain order, as well as enabling other useful functionality.

### Implementation details (or go to the [diff](https://githu

[2019-11-06 06:16] jrista opened #76 "Feature: Add action factory functions (akin to NgRx 8 `createAction`) for all entity actions"
NgRx 8 introduced several new factory functions that simplify usage of NgRx, and present a cleaner more functional interface to the library. This proposal recommends introducing similar factory functions for existing auto-entity actions as an additional layer on top of the existing raw action types.

The general goal would be to align the usage patterns of Auto-Entity with NgRx 8+, make the librar

[2019-12-02 15:59] mxdmedia opened #80 "Replace by parameter- is there currently a better way?"
Back with another question/potential feature request.  Lets say I have two dependent models:
[code]
In my API, I have an endpoint, `api/parent/[parentId]/children` which allows CRUD updates on `Child` elements in bulk.  E.g.- if I `PUT` to `api/parent/[parentId]/children` it will update any children of `[parentId]` in the request that already exist, create any new children (without an id) and dele

[2019-12-02 17:11] paquettealice commented on #80
Hey!

Although I can't put them down right this moment (I will do so later tonight or in the next few days), I have a few ideas on how to simplify things for the short term, after which we can see what could be done as far as a long term solution is concerned (i.e. new feature).

Also, thanks for your continued feedback and use of the library!

[2019-12-02 17:55] jrista commented on #80
@mxdmedia I wanted to introduce you to Alice, who has recently become a contributor to NgRx Auto-Entity. She has some ideas that may help.

She also recently just did some work to add a feature to the library (coming soon) that may help you as well.

[2019-12-02 17:59] mxdmedia commented on #80
@jrista Thank you for the introduction.

@paquettealice Nice meeting you. I look forward to hearing your thoughts on this (when you have time), as well as seeing the coming features of auto-entity.  So far auto-entity has been an excellent tool for me, that has helped to scratch many of my ngrx "itches," and I am excited to see where it goes!

[2019-12-09 03:15] paquettealice commented on #80
@mxdmedia Nice to meet you!

I looked at this a bit more, but unfortunately, and despite having ideas on how we might simplify things, most of them felt like a rather marginal improvement and not worth pointing out, while the more promising ones were a bit too involved for me to really explore. My personal bandwidth is being stretched to the limit lately, so I've had some trouble finding time for

[2019-12-15 02:10] mxdmedia opened #81 "Issue with Ionic/Capacitor when using a production build."
I've got a pretty big issue that just cropped up- auto-entity's facades/selectors are causing an issue with Ionic/Angular production builds (at least on iOS, I don't have an android device to test).  Basically, any time a facade selector is called, a javascript error occurs, and the selector doesn't return its results.  This only happens under the following conditions:

1. A facade selector (e.g.-

[2019-12-15 04:33] jrista commented on #81
Thanks for the report. We'll look into it.

In the interim, for debugging the prod app. You could temporarily go into angular.json, and adjust the production build target's settings so it does not minify, continues to generate source maps, etc. That might help you zero in on the error more closely.

[2019-12-15 05:24] mxdmedia commented on #81
Thanks for the tips on adjusting the build.  I've tried a few things and have learned the following:

1. I dont think the webview that capacitor/ionic uses on iOS supports source maps, as even when I enable them (and see they are created/in my app bundle) the error is still the same not-so-helpful error message above.  I'm hopeful that the capacitor folks might be able to shed some light on gettin

[2019-12-18 21:50] jrista commented on #81
Which WebView is capacitor/ionic using? I generally use cordova with ionic (I prefer to stay out of native code :P), and I do seem to get source mapped code in the browser. I am not sure if capacitor projects use the same webview though.

Thanks for the detail about the --optimize flag. I wonder if something is getting tree-shaken out that should not be... We'll look into it. It would be interesti

[2019-12-18 21:53] mxdmedia commented on #81
Tomorrow I'll ask about getting source mapped output on the Capacitor slack channel to see if I can make some headway there.

As to the webview, Capacitor is using WKWebView (as opposed to the older, deprecated UIWebView).

[2019-12-20 16:03] mxdmedia commented on #81
I figured out how to get more information, and have some sample code here:  https://github.com/mxdmedia/ionic-ngrx-ae-issue

To test/see the error (you'll need a mac of course):

[code]

On your ios device go to **settings -> safari -> advanced** and make sure Web Inspector is turned on.

Connect said device to your mac.  Then in xcode, build/run on your device.  While xcode is building/installing

[2019-12-28 09:28] jrista commented on #81
That sounds like the core state we create for each entity. Every entity, following the pattern set forth by @ngrx/entity, has an entities object (associative array or map, as it is used) and an ids array. It sounds like something about the optimization process is preventing the initial state from being initialized properly...

I'll take a look at your example soon here.

[2019-12-28 16:48] mxdmedia commented on #81
I noticed something that might make this a bit easier to work on.  It turns out, the same error is thrown even in the browser with `ionic build --prod`.  I was trying `ionic serve --prod`, which I thought was doing the same production build, but it must be doing something different.  If you test using the `ionic serve` command (with `--prod`) there is no error, and it all works fine.  On the other

[2019-12-28 19:01] jrista commented on #81
I am checking out your reproduction repo. I'm generating two builds, one with --optimize and one without. I'll then be comparing the outputs to see what is different. I wonder if somehow something is getting tree-shaken out of the ngrx-ae library code...

[2019-12-28 19:30] jrista commented on #81
Well, --optimize is really where all the optimization happens. Without this flag, the compiled .js files are still prettily formatted, still contain original identifiers, etc. With the flag, everything gets minified and uglified and all that.

From what I can tell, there is only one place in the code where e.ids and e.entities is found in the optimized build. That is in the pre-fabbed selectors th

[2019-12-28 19:34] jrista commented on #81
@mxdmedia I think seeing the full stack traces you are getting would also be helpful. I am trying to get some of my own, but it would be helpful to have yours as well.

[2019-12-28 19:43] jrista commented on #81
@mxdmedia I seem to be having trouble reproducing the error. I've used the `ionic build --prod` approach along with `http-server` to serve up the code in ./www. So far, I have not yet encountered the error...in Safari, or in any Chromium browser or in FireFox...

If you can share your stack traces, that might help me figure out where the issue is being initiated, at the very least.

[2019-12-28 19:46] mxdmedia commented on #81
@jrista-

I hadn't tried `ionic build --prod` with serving, with the sample code (it was using my much larger codebase that was causing the issues with `ionic build --prod`- perhaps it was an unrelated issue).

Here is the stack trace I am seeing from my iPhone via the safari debugger (using the code you have)  I am not terribly familiar with dumping a stacktrace from the Safari debugging tools, s

[2019-12-28 19:50] mxdmedia commented on #81
Sometimes one doesn't see the forest for the trees.  Right clicking the error has a copy all option.  Here it is, with some better formatting an a bit more info.  Sorry about polluting the thread a bit with my last paste.
[code]

[2019-12-28 20:02] jrista commented on #81
@mxdmedia Ok, looks like the first line of your example code that is related is the subscribe line in home.page.ts.

I am still not encountering the error on my end. So can I have to do a bit more for me? Can you scatter console.log statements throughout your demo code? Kind of like this:

[code]

Do this throughout all the various state related files, the routing files, module and component files

[2019-12-28 20:05] jrista commented on #81
I would also be curious to know, if rearranging the imports does not help, whether changing the home route from lazy loaded to static would change things. I have also recently had issues trying to get multiple lazy loaded routes working with Ionic 4. Again, a very odd an unexplainable issue so far, if I lazy load page modules, things work fine, the third and my app hangs. Doesn't seem to matter wh

[2019-12-28 20:09] mxdmedia commented on #81
@jrista, I can definitely add the console logging, try re-ordering the imports, and see how static vs. lazy loading changes things.  Unfortunately, I am running a bit short on time today, but will get to it either tomorrow or Monday.  Thanks again for your time and effort- it is much appreciated!

[2019-12-28 20:18] jrista commented on #81
@mxdmedia Sounds good.

One more thing. Could you get me the info about the versions of all the various CLI tools you are using? Ionic, angular, cordova/capacitor, etc?

[2020-01-06 17:58] jrista commented on #81
@mxdmedia Any luck with this issue?

[2020-01-06 20:29] mxdmedia commented on #81
@jrista My apologies- Unfortunately I was sucked into the vortex of "end-of-2019/beginning-of-2020" planning stuff, and am just now getting my head back above water.  I'll take a look this afternoon/evening, and get back to you.

[2020-01-07 02:14] mxdmedia commented on #81
For your first request- I console logged in/out of all of my components, modules, state files, etc.  In addition, I threw in some logging before and after subscribing to SampleFacade's `all$`. Here is the result:

[code]
I did not post the error's stack trace, as it is the same as the one above.    So it appears that the error is occurring after everything has been loaded, but before the subscribe

[2020-01-07 02:41] mxdmedia commented on #81
To follow up, neither changing the order if imports, nor going to static routing had any effect- the same error keeps occurring.  I think I tried just about every order of the 4 imports in my `app.module.ts` file to no avail.  Please let me know if there are any other troubleshooting steps I can take to help with resolving this.

[2020-01-07 07:54] #75 closed

[2020-01-11 06:11] jrista commented on #81
@mxdmedia: I think I understand the issue now. It is interesting, most of the projects I've used NgRx Auto-Entity in so far have actually not been using prod builds. I think, some time back, I did optimized prod builds with one app, and ran into this issue, disabled optimization...and never got back to turning optimization back on. A couple others have not been using prod mode builds at all, and m

[2020-01-11 09:55] jrista commented on #81
@mxdmedia I've implemented a required modelName property on the @Entity decorator. Along with a few other changes to make some of the code more robust and resilient in the face of missing state, I think this will solve your problem.

I've scaled back the initial release for the @Entity decorator and hopefully it will be out soon.

[2020-01-11 14:42] mxdmedia commented on #81
@jrista Wow, it looks like my issue sent you pretty deep into the weeds.  The whole process of uglify/minify and js code optimization is way out of my wheelhouse.  Glad you were able to find what is causing the issue, and start figuring out a way to fix it.  If you think of anything else I can do to help, I can take requests (I have a very large, non-distributable ionic-4 app that is showing the s

[2020-01-11 14:51] mxdmedia commented on #80
@paquettealice, my apologies, I just saw that you had responded to this.. a month ago.  Thank you for the insight, and thoughts.  No worries on not being able to provide an immediate solution.  As you pointed out, this kind of parent-child entity relationship can be tricky, and I have yet to find an "easy" solution with any react/ngrx style state management libraries/add-ons.  For me, that is the

[2020-01-11 14:59] mxdmedia opened #85 "Feature: Ability to delete an entity/entities from the store by id."
One feature (that seems would be somewhat easy to implement) that would be quite convenient, is the ability to remove entities from the store with only an id.  Currently in order to delete an entity or entities, I am doing the following:

[code]

However, this requires that I already have the entity or entities I want to delete.  My problem there also goes back to my frequent use of child/parent r

[2020-01-12 01:35] jrista commented on #81
@mxdmedia Correct, upcoming auto-entity feature. It is actually in PR now if you want to take a look.

I delved even deeper last night, into Angular's optimization code in the devkit. I am not sure they even use uglifyjs anymore. If they did, we could have used the webpack builder and the developer could have used the `reserved` identifiers list to keep it from mangling those identifiers (i.e. tho

[2020-01-13 17:35] jrista commented on #81
We are working on getting 0.4.0 out with the `@Entity` decorator. We have not yet had time to update the docs, but `@Entity` is now effectively required on all auto-entity models, and you must specify the `modelName` property in the decorator.

We are looking for a way to integrate an ng cli schematic that would automate creation of entities, and potentially whitelist their identifiers from the we

[2020-01-13 18:41] jrista commented on #81
Resolved by #84

[2020-01-13 18:41] #81 closed

[2020-01-13 18:42] jrista commented on #58
Resolved by #84

[2020-01-13 18:42] #58 closed

[2020-01-13 18:42] jrista commented on #70
Implemented by #84

[2020-01-13 18:42] #70 closed

[2020-01-13 18:44] jrista commented on #56
Closing to reduce issue count.

[2020-01-13 18:44] #56 closed

[2020-01-15 04:18] patpaquette commented on #85
**Implementation Proposal**

- Add the following actions:
DeleteByKey, DeleteByKeySuccess, DeleteByKeyFailure
DeleteManyByKeys, DeleteManyByKeysSuccess, DeleteManyByKeysFailure

- Add corresponding effect operators (`projects/ngrx-auto-entity/src/lib/operators.ts`)
- Add corresponding methods to `NgrxAutoEntityService` (`projects/ngrx-auto-entity/src/lib/service.ts`)
- Add corresponding methods to

[2020-01-16 21:32] jrista commented on #80
@mxdmedia Still thinking about this one. I think we are at the fine line between what belongs in the library, vs. what needs to be the responsibility of the developer.

I'm not quite sure on this one. Partly because I don't think we've come up with any solution yet that really feels like it fits. But we are still thinking about it, and if we do find a solution that fits, we'll let you know.

[2020-01-16 21:44] jrista commented on #72
@mxdmedia I am considering something along the lines of a `PatchEntities` generic action to support this scenario. There are a very wide range of possibilities with auto-entity, and in the long run I think most apps beyond the most basic that need pure entity functionality will be blending auto-entity and raw ngrx to some degree or another.

I'd like to limit how much we add to auto-entity, howeve

[2020-01-28 20:36] jrista opened #86 "Clearing entity state eliminates any custom state the user may have added"
**ISSUE:**

When clearing entity state, either by dispatching the `Clear` action or using the `clear()` facade method, the meta reducer currently replaces the entire state with a new version that reflects the default empty state of default entity state. This wipes out any custom state the developer may have added when using `buildState`:

[code]

**EXPECTATION:**

The auto-entity meta reducer shou

[2020-02-09 19:41] jrista opened #88 "Compiling projects using auto-entity under TS 3.x causes type errors when extra state is included"
**ISSUE:**

When including custom state properties or "extra initial state" with the `buildState` and `buildFeatureState` functions, typescript will begin throwing type errors for certain use cases. A notable and common case is when defining the reducer for the state, which will cause type errors when you return the state if set to `initialState` that is destructured from `buildState` itself.

[co

[2020-02-10 16:59] #85 closed

[2020-02-10 17:03] #88 closed

[2020-02-10 17:03] #86 closed

[2020-02-10 18:11] jrista commented on #80
@mxdmedia

I think this particular use case may need to remain a responsibility of the developer. That said, we just released [0.4.1](https://github.com/briebug/ngrx-auto-entity/releases/tag/0.4.1), which includes the ability to delete things just by their keys, rather than requiring entities, which could help.

I also think you can do some things to improve your usage of NgRx in general, and avoi

[2020-02-11 21:50] jrista commented on #59
@mxdmedia I've been looking into ways to solve the transformation problem. I think we are going to go with a much simpler, but vastly more flexible approach. Instead of defining type converters, we are simply going to allow the developer to define transformation functions, for `fromServer` and `toServer` paths. These transforms would be applied by auto-entity between when the developer's entity se

[2020-02-14 17:30] #59 closed

[2020-02-17 03:12] samratarmas opened #91 "Ngrx data vs auto entity"
Hello team,

I recently discovered ngrx auto entity and have have been loving everything about it. I have two quick questions :

- How is this library different from ngrx/data? In which cases can one be used over the other?

- Is it possible to use websockets for the CRUD of entities? Would really appreciate your help in pointing me in the right direction

Looking forward to your quick response

[2020-02-17 16:06] jrista commented on #91
Hi Samarat,

Thank you for your interest in NgRx Auto-Entity. We hope it's the right library for you.

Regarding your questions. First off, while we cover some of the same ground as @ngrx/data, we take a very different approach in how we solve the problem. Our approach is more comprehensive, and also more automated in many ways. One of the big features of Auto-Entity is our auto-generated facades,

[2020-02-17 16:36] samratarmas commented on #91
@jrista Thanks a lot for your detailed response. It was very helpful for me, and will help many others. My questions have been answered. For now, one concern is that since ngrx/data was integrated as a first party package it is guaranteed to always be in line with the latest ngrx updates such as create action functions, etc.. but it was helpful to know that the auto-entity team is committed to imp

[2020-02-17 16:42] jrista commented on #91
I actually do not believe that @ngrx/data has been updated to be in line with ngrx 8. To my knowledge, the architecture of @ngrx/data today is the same as it was in 2018, and has not actually been refactored in any way.

Bringing auto-entity in line with the current design of NgRx 8+ is one of our key goals, however, as we are heavy NgRx users and we like the direction NgRx as a platform is going.

[2020-02-17 17:04] tonivj5 commented on #91
I had the same "sensation" about @ngrx/data. A long time ago, I was looking for something like ngrx-auto-entity, but it didn't exist at that time and @ngrx/data seemed the tool, but it didn't cover my needs. Then, I created a kind of auto-entity to my app, covering my needs. If ngrx-auto-entity would have existed, I would be using right now... But I'm following this project very near and waiting t

[2020-02-17 17:13] mxdmedia commented on #91
Back in August, I was looking heavily at ngrx-data as a means by which I could offload a lot of my boilerplate code- only needing to implement more complex things on my own (essentially no boilerplate for basic CRUD operations).  The docs for ngrx-data claim that it does just that- handles your basic CRUD ops, while giving "all the flexibility of ngrx" for other stuff.  However, (at least at the t

[2020-02-18 21:34] jrista opened #93 "Expand data transformations to include custom criteria"
Currently, custom transformations, introduced in v0.4.2, only pass in the entity being transformed. However there are use cases where custom criteria could be extremely useful in performing transformations. Inclusion of custom criteria in the transformation calls should be a simple change, and would greatly expand their capabilities.

[code]

[2020-02-24 20:46] schuchard opened #94 "Fix: Entity performance"
Dealing with a large quantity of entities (7k or more) is considerably slower than `@ngrx/entity` (16.5 sec vs 800ms) when loading into state. Perhaps a less immutable approach would improve performance.

[2020-02-24 20:47] schuchard opened #95 "Feature: export util transforms"
It would be nice to have access to the transform utilities so that users could manually apply them where they see fit.

[2020-02-24 20:49] schuchard opened #96 "Feature: Support nest @Key decorators"
Sometimes the unique identifier is not at the root of an entity. Adding support for nested decoration would be nice.

[code]

[2020-02-24 20:51] schuchard opened #97 "Feature: 3 stage loading process"
(`load`, `loaded`, `loadSuccess`). This would help to break out combined entity states from a single http response into multiple auto-entity states. Would also not run the loadSuccess meta-reducer for performance improvements.

[2020-02-24 22:18] schuchard opened #98 "Fix: serialize `loadedAt`"
with strict run time checks on:

[code]

an error is occasionally thrown, in my case when switch to another lazy module after this entity has been loaded

[code]

[2020-02-24 22:34] schuchard commented on #98
`loadedAt` is set as a Date object which is not serializeable, perhaps `toISOString()` is called for here.

[2020-02-24 22:54] jrista commented on #98
Thanks for the bug report, @schuchard! I think what we can do, is store the **unix time** in state. The existing selectors can then generate a `Date` object from that unix time, which would make the change largely internal. That should maintain compatibility with most existing users of the library.

The only case where it _might_ be a breaking change, would be for anyone writing their own selector

[2020-02-24 22:58] jrista commented on #94
We definitely do not have the most optimally performant code for reduction at the moment. I used a very immutable approach, but it sounds like we could use some optimization to handle larger data sets. I think that should be fairly strait forward, though, so I'll prioritize getting refactoring the reducer. A general refactoring was something I already had on my plate, as we'll need to break down t

[2020-02-24 23:08] schuchard opened #99 "Feature: Entity `load` optional arguments"
Since `IEntityFacade.load()` can technically be called without any `keys` should all parameters be optional?

[code]

[2020-02-24 23:31] jrista opened #100 "Refactor: Clean up internal file structure for entire library"
Auto-Entity started out as a simple idea, and has since over the last year and a half grown into something much richer and more complex. The internal files of the library are growing unruly, and could use some cleanup.

Refactor the library to break down large and complex code files into more smaller code files with more targeted functionality, move code files into more folders, and update the pub

[2020-02-25 18:29] #98 closed

[2020-02-25 18:29] #93 closed

[2020-02-28 18:14] jrista opened #105 "Fix: Immutability during entity reduction"
Recent changes to entity reduction, while they greatly improved speed, broke strict immutability. A change is required to ensure that immutability rules are followed, while maintaining as much of the original performance gains as possible.

[2020-02-28 18:15] #94 closed

[2020-02-28 18:54] #105 closed

[2020-02-28 21:23] jrista commented on #96
I looked into this more. I'm not sure our original idea of simply decorating a nested property with `@Key` is going to work. There is no standardized way to get the parent object of an object in JS. There are ways to get the parent prototype, but for most arbitrary objects, even nested ones, that will be `Object.prototype` and not the parent object instance.

I think the only way to support more c

[2020-02-28 21:42] jrista commented on #96
Composite key with array notation:

[code]

Functional option:

[code]

[2020-02-28 23:09] schuchard commented on #96
i like both of those options

[2020-03-27 18:05] jrista opened #107 "Add utility functions for getting entity decorator info"
Users of the library need a way to retrieve metadata attached to entities via decorators, notably the `@Entity` decorator. Currently this is possible if you know the internal keys for the type-level properties that this metadata is stored in, however it is bad practice to rely on internal implementation details.

Utility functions should be added to retrieve entity metadata:

[code]

[2020-03-29 19:50] RBleyenberg opened #108 "angular 9"
Howdy,

When can we see the support for angular 9 rolling in ....

Thanks upfront

[2020-03-30 05:29] jrista commented on #108
We are looking into it. We also are looking into NgRx 9, as well as potential RxJs 7 support as well, once those are released. We do try to maintain backwards compatibility, so as no to alienate users that are on NgRx8/Angular8 and not yet able to upgrade, so we have to be a bit more careful about these things.

We'll keep you posted!

[2020-04-06 19:44] jrista opened #109 "Support for Upsert action"
Some databases, such as Mongo and others, support a combined insert/update behavior, often called Upsert. This action requires slightly different semantics than a normal Update, which will simply merge entities into existing state and otherwise ignore new ids. An Upsert action with proper reduction would allow developers to implement upsert behavior in their entity services, with assurance that bo

[2020-04-08 22:40] #109 closed

[2020-04-08 22:50] jrista opened #111 "Refactor internal state structure to support better encapsulation and more efficient selectors"
The Auto-Entity library currently places all state "bare" on the state interface. As such, any time one of these properties changes, most of the selectors will re-fire, as they are being memoized based on this whole "root" entity state object.

[code]

By moving all properties into one child object or another on the auto-entity state, it should allow more efficient and effective selectors, by "buf

[2020-04-08 22:57] jrista opened #112 "Selecting any tracking timestamp that has not been set results in "Invalid Date""
When selecting any tracking timestamp, such as `loadedAt`, if the data has not yet been loaded, the value returned is "Invalid Date" due to calling `new Date(...)` on null or undefined.

Selectors should be refactored to check if tracking timestamps are nullish first, return null if so, and only a date if not.

[2020-04-08 23:02] jrista opened #113 "Selecting all, sorted, etc. will often result in re-emission when entity state has not changed"
When selecting anything other than `entities` or `ids`, selectors will re-emit whenever the root state for a given entity changes. This is true even if the change is unrelated to the data the selector works with. This is due to the nature of NgRx's `defaultMemoize` behavior.

When the input to a selector is a different reference than previously, the selector will re-run. Currently, all selectors i

[2020-04-09 06:04] #113 closed

[2020-04-09 06:05] #112 closed

[2020-04-09 17:41] schuchard commented on #111
This sounds like a great idea.

[2020-04-10 04:47] schuchard opened #115 "CreateFailure action response"
When a `CreateFailure` Action is dispatched, there's no entity information attached. If possible that information could be useful to display to the user. Not only that it failed, but what entity failed. Especially for historical purposes if you're tracking a user events.

[2020-04-10 14:12] patpaquette commented on #99
I like that. Seeing `null` when reading that line adds a tiny bit of cognitive overhead, and even then the semantics aren't cristal clear.

[2020-04-14 18:14] schuchard opened #116 "Property 'entity' does not exist on type 'EntityAction<T>'"
When responding to an entity success action, the `action` does not include the `entity` property on the type, causing a linter error. However, that value does exist on the action when the action is called.

[code]

using version: "~0.5.0-alpha.6"

[2020-04-14 19:14] jrista commented on #116
Not all actions in Auto-Entity actually have an entity. Some, such as LoadAll, have no entity (there is no logical reason to have an entity or entities on such an action). The entity property exists on specific actions that derive from EntityAction<T>.

There was limited typing available when Auto-Entity was first started, which at the time was during Angular 5/6 and I believe we were on TypeScrip

[2020-04-15 22:51] schuchard opened #117 "Models with generic types end up `unkown`"
when typing a model with a generic, the type inference is lost. Wondering if this can be supported. Sort of a super Entity use case here.

[code]

`buildState` appears unable to resolve the typing, thus resulting in the facade selectors (`entities`) returning an unknown type. The work around is to manually type it's usage.

[code]

[2020-04-16 02:29] jrista commented on #117
Is this an entity that contains an entity?

[2020-04-16 06:23] jrista commented on #117
Given the current typing, can the `Alert` entity be defined as so:

[code]

Since `T` is `Record<string, any>` I would think this would work. On the other hand, if `T` must derive from `Record<string, any>`, what happens if you type it like this:

[code]

[2020-04-16 16:05] schuchard commented on #117
No it's occasionally using an interface when I'd like to be more specific than just an "object".

[code]

This leads to the same issue. `TModel` is `unknown` coming out of `buildState`

[2020-04-17 03:18] jrista commented on #76
After reviewing this proposal several times, I think the following approach would fit best with the existing design of Auto-Entity.

General idea with the proposal is to extend what `buildState` returns, and include a set of strongly typed action creators, compatible with NgRx 8's types for action creators and actions themselves, which should simplify and improve the developer's ability to use NgR

[2020-04-17 15:09] schuchard opened #119 "selectIds - unkown memoized type"
the `selectIds` selector exposed by `buildState` has an unknown type in it's signature.

<img width="1138" alt="Screen Shot 2020-04-17 at 9 06 36 AM" src="https://user-images.githubusercontent.com/10186449/79584040-11765a80-808b-11ea-9817-426099cddc72.png">

[2020-04-17 15:14] schuchard commented on #119
The issue arrives when using this selector among others. Typescript is unable to infer that it's a `string[]` and all consumers receive an `unknown` type.

[2020-04-17 17:18] jrista commented on #119
The unknown type is the parent state. I think what we may have to do is adjust the order of the generic parameters for `buildState` and set them to some viable defaults initially (i.e. parent state could be `any`). I think the new order might need to be:

[code]

I'm not sure what we might default others to, but with this order we might be able to supply just the parent state type:

[code]

[2020-04-17 17:19] jrista commented on #119
It may simply be that we must require the developer supply the `IParentState` regardless. Without supplying it, there is otherwise no way to infer it, as there is nothing passed into `buildState` that would give TS anything to work from in order to infer it.

[2020-04-17 17:43] schuchard opened #120 "Entity Failure actions - error object"
`EntityActionTypes.CreateFailure` does not have the `error` property available, but it seems to exist at runtime.

[2020-04-18 03:24] jrista commented on #62
@richardshergold We may have resolved the underlying bug that was causing this. We had some issues internal to the reducer and selectors in the past that were leading to some undefined errors. Could you try upgrading to auto-entity 0.4.x or maybe 0.5.x alpha, and see if the error persists?

[2020-04-19 16:33] schuchard commented on #120
I found that the typing can be made available if you explicitly type it.

[code]

however we should probably type the error better in all the action creators.

current:
[code]

proposed:

[code]

[2020-04-20 17:18] schuchard opened #124 "Facade `correlationId`"
It would be nice if you could provide the facade methods (that support it) a `correlationId`. Then you could track local entity actions where they originated from without having to dispatch the NAE action manually.

[code]

[2020-04-20 17:58] schuchard commented on #124
@jrista had a great idea to accept and return the `correlationId` in the facade methods from the underlying actions created

[code]

[2020-04-21 04:03] schuchard commented on #120
This was discussed [here](https://github.com/briebug/ngrx-auto-entity/pull/123#discussion_r411093167). Closing for now.

[2020-04-21 04:03] #120 closed

[2020-05-01 18:46] #115 closed

[2020-05-01 18:46] #124 closed

[2020-05-01 18:46] #99 closed

[2020-05-01 18:46] #107 closed

[2020-06-03 15:33] schuchard opened #129 "Action Criteria: forward to success action types"
Since the failure actions forward the criteria that initiated the actions, I think we should do the same for success actions.

A use case I've run into is, I want to support 2 different types of removing an entity. A "Delete" and "Terminate" using `DeleteByKey`. Then when it occurs, I'd like to notify the user that either "Delete Success" or "Terminate Success" occurred from an effect listening fo

[2020-06-18 17:54] schuchard opened #134 "`getKey` warning - `undefined`"
When entities rely on the `@Key` decorator, it's possible to side step the necessary workflows that call the proper transformations such as `transformSingleFromServer` which sets the key property. If that transformation is not run, it's possible for the reducer to execute with a replacement key of `undefined` and will not update the state as expected. Such as:

[code]

At the very least a console

[2020-08-03 19:05] jrista commented on #108
I thought I would provide an update on this. We have used NgRx Auto-Entity in Angular 9 projects, and so far have not identified any issues. We have been testing with a forthcoming version, 0.5, that has had a variety of enhancements, however it is still the same general library as the currently released 0.4, with the same kinds of hooks into the injector.

We do not foresee any issues using ngrx-

[2020-08-03 19:16] #129 closed

[2020-08-03 19:30] jrista commented on #62
I believe this issue was resolved with the redesign of our selectors. Undefined errors should no longer occur with the selectors now check for the existence of the required properties before returning.

[2020-08-03 19:30] #62 closed

[2020-08-03 19:31] #91 closed

[2020-08-03 19:38] jrista commented on #116
I believe, with the introduction of entity action factory functions similar to `createAction` from NgRx 8 and up, we will be able to solve the issues here. The fundamental issue is that `ofEntityType` actually returns `EntityAction`, the base action type of all other entity actions. That base class does not have an entity property.

With action factory functions, the type of every action would be

[2020-08-03 19:50] #80 closed

[2020-08-07 16:42] jrista opened #137 "Feature: Accessor functions for all @Entity decorator metadata"
In order to abstract the end user away from internal implementation details of Auto-Entity, we need to provide utility functions for the end developer to access and use the metadata provided through the @Entity decorator. This includes names (util functions available), transformation (util functions in development), comparers, effect exceptions, etc.

Currently, to get the comparer for custom use

[2020-08-07 18:34] jrista commented on #137
It helps to be on the right branch when thinking up ideas. ;) Already added in a prior PR.

[2020-08-07 18:34] #137 closed

[2020-08-07 22:59] jrista opened #138 "Feature: Add support for named comparers and custom sorting"
Auto-Entity already has support for a default sort comparer. This is done by optionally adding a comparer to the entity via the `@Entity` decorator:

[code]

Retrieval of the comparer for use in custom selectors or other use cases is possible using the `entityComparer()` function:

[code]

It would be simple enough to extend this to support additional custom sort comparers, attached to the entity,

[2020-08-09 06:34] jrista opened #139 "Feature: Add ability to convert a POJO to a typed, decorated entity"
There are use cases where a plain old javascript object needs to be handled as a fully decorated entity, with all the metadata that goes along with a decorated entity. Currently, entity metadata from the `@Entity` decorator is only present on the model class itself, not the instances of that class. A utility function to convert a POJO to a properly typed entity would allow the full richness of aut

[2020-08-09 08:07] jrista opened #140 "Feature: Add support for getting an entity key directly from an entity object"
It is currently possible to get the key for an entity from an action and entity instance or model type and entity instance. Due to the fact that entities are prototyped by the model type, any properties added to the prototype should be available on the entity as well.

As such, it should be possible to access the key metadata directly off each entity object, or if that is not possible, utilize Obj

[2020-08-09 08:11] jrista opened #141 "Feature: Add support for simplified @Entity decorator basic usage"
When creating entity model types for consumption by Auto-Entity, the `@Entity` decorator is required. Currently, that decorator in turn requires an `IEntityOptions` object to be passed with at least a `modelName` string property. For many simpler use cases, the model name may be the only property required.

This proposal recommends that the `@Entity` decorator be enhanced to support simpler usage,

[2020-08-11 18:50] jrista commented on #134
To address this issue, several measures have been taken. First, additional error logging has been introduced to warn users when entities have not been properly decorated with the necessary @Key properties. This logging occurs in the various getKey* related utility functions, as well as during reduction if an entity is encountered where a key cannot be identified.

More explicitly, it will no longe

[2020-08-12 07:02] jrista commented on #119
I've extended the TParentState generic type from any in the `buildState`/`buildFeatureState` signatures. There is no way to know, by inference, what the type of the parent state will be at compile time short of requiring the developer manually specify every generic type these functions require. I figure `any` is better than `unknown`. This type is only really required internally, and it lacking a

[2020-08-12 07:03] #108 closed

[2020-08-14 07:02] jrista opened #143 "Edit action should not replace edited entity if key matches"
When editing an entity, dispatching the `Edit` action will clone the entity. If the entity being edited matches the currently edited entity, if there is one, by entity key, then the state should remain unchanged, rather than cloning the original entity again. This will ensure that subsequent dispatches of Edit for the same entity will not overwrite any changes that may have been made since the fir

[2020-08-14 07:09] jrista opened #144 "Feature: Add new load paths to load only if data has not previously been loaded"
When loading entities with any of the existing load actions, the loads will always occur and will always call the API. There may be times, such as when loading lookup tables, when the load should only occur if data has not been loaded previously.

This proposal recommends introducing a new set of actions for loads, alongside the existing actions, that would only actually be dispatched if no data h

[2020-08-17 02:25] #119 closed

[2020-08-17 02:25] #134 closed

[2020-08-17 02:25] #140 closed

[2020-08-17 02:25] #139 closed

[2020-08-17 02:25] #138 closed

[2020-08-17 02:25] #95 closed

[2020-08-27 06:17] jrista opened #145 "Add ability to initiate edit by an entity key, rather than a full entity"
Since edited entities must already exist in the auto-entity state, much like entity selection, entity edit can be started simply with an entity key.

Propose the addition of `EditByKey` action to compliment the existing `Edit` action.

[2020-08-27 18:14] schuchard opened #147 "NgRx & Angular 10 support"
Initial findings with `@briebug/ngrx-auto-entity@0.5.0-alpha.9`

[code]

[2020-08-30 13:40] jrista commented on #147
@schuchard What version of ngrx are you using? Additionally, if you try 0.5.0-beta.2, does the issue persist?

I have looked for any reference to `@ngrx/store/src/selector` and I am not finding one in the current code. In the sample code in your error, it shows a dynamic import from `@ngrx/store/src/selector` in place of a parameter that I have used in my code:

[code]

I wonder if a newer version

[2020-08-30 13:48] jrista commented on #147
I've checked the latest and next ngrx code. It seems Selector and MemoizedSelector are still being exported from the index.ts of the store source code. I wonder if one of the ng 9 or ng 10 module compiler tools is screwing with my code. :P As far as I can tell, in 0.5.0-beta.2 I do not directly import any NgRx things from anywhere but @ngrx/store or @ngrx/effects.

[2020-08-30 13:58] jrista commented on #144
After diving into an initial implementation of this, I think expansion of the feature is appropriate. Instead of just loading data if it is missing, which doesn't quite work as simplistically as it sounds for anything other than `LoadAll`, I think a it should be re-termed `*IfNecessary`, with necessity being based on more than simply if a loadedAt timestamp or data exists in state for the given en

[2020-08-30 14:16] jrista commented on #144
To support dynamic loading based on the loadedAt timestamp, each of the `IfNecessary` actions would also allow a `maxAge` to be passed, which would check if the loadedAt timestamp plus the specified maxAge is in the past. If so, then the load would be issued, otherwise it would be stopped.

Additionally, for each entity, a `defaultMaxAge` could be specified on the `@Entity` decorator to configure

[2020-08-30 16:35] #143 closed

[2020-08-30 16:35] #145 closed

[2020-09-01 06:19] jrista opened #149 "Feature: Add "has entities" selections/selectors"
An often useful selector I find myself creating for most of my entities in many applications is the `hasEntities` selector, and the companion `hasEntities$` selection on a facade. Such selections make it extremely easy to check if data is present in a template, and if not, switch to an alternative display. Within that alternative display, the `isLoading$` selection can then be used similarly, to t

[2020-09-02 21:24] jrista opened #150 "Refactor: Convert getters on facade for selections to fields"
In version 0.5.x of Auto-Entity, the selection properties on the facade classes are all `get`ters. This restricts them to only being get, and they cannot be overridden in derived classes. There is a solid use case for being able to replace these properties with custom implementations. One of the key benefits of using a facade layer to buffer your components from NgRx, is the ability to write much

[2020-09-02 21:26] #141 closed

[2020-09-02 21:26] #144 closed

[2020-09-11 04:41] jrista opened #152 "Proposal: Auto-Entity Action Batches"
The nature of NgRx Auto-Entity is such that individual entities are loaded, saved, deleted discretely. There is some basic batch capability via the *Many actions, however those are still for a single kind of entity. Handling batches of actions across many entities and entity types is not currently possible.

There are use cases where many entities of different types may need to be created/updated/

[2020-09-11 04:42] jrista commented on #152
This enhancement could in fact be created as an additional library that could optionally be installed along-side Auto-Entity itself. This would modularize the feature, keep it from introducing bloat into NgRx Auto-Entity core, and allow developers to choose to use it if and when necessary.

[2020-09-14 01:55] schuchard commented on #152
This sounds interesting. Does `tracked in state` mean that it will store the success/failure/etc in the store and thus need to be cleaned up?

[2020-09-16 18:01] jrista opened #153 "Some correlated result (success/failure) actions not properly correlating with initiating actions"
When dispatching some initiating actions such as Load, the corresponding LoadSuccess/LoadFailure actions are not always using the correct correlationId. In some cases it appears as though the correlationId parameter is being passed to the wrong parameter (i.e. criteria).

[2020-09-17 15:27] #153 closed

[2020-09-19 20:29] jrista opened #155 "Bug: *IfNecessary actions not being handled"
When using any of the new *IfNecessary actions, they dispatch according to Redux dev tools, however they do not seem to be getting handled.

Additionally, the entity facades lack *IfNecessary load method variants.

[2020-09-21 07:32] Inexad opened #157 "Entity/model type cast ?"
Hi,

When retrieving data the entities is not cast to the type which causing loss of functions and other class functionality.

I have a model like this:

[code]

After retrieving the model i can't use functions "getSomething1()" or "getSomething2()" as they are undefined.
Is this something inside ngrx-auto-entity or i'm doing something wrong?

Regards.

[2020-09-21 13:57] jrista commented on #157
Hi @Inexad. Thank you for the report.

So you are encountering an explicit design aspect of NgRx Auto-Entity. By design, Auto-Entity expects entities to be pure data, no functionality. There are a few reasons for this.

One, ngrx-auto-entity has to be able to create instances of entities and retrieve entity meta-data (i.e. @Key, @Entity) without being able to know much about the entity. We have to

[2020-09-21 14:07] Inexad commented on #157
@jrista Thanks alot of the throughout explanation of this and the links.

I solve this now by adding the entity functionality into the facades instead.

Regards !

[2020-09-21 14:15] Inexad opened #158 "Update / Create objects callback"
Hi,

It would be great to be able to add a callback functionality when deleting / updating objects.
Now you can use isDeleting$/isUpdating$, the problem is that it's hard to get the affected object.

Sometimes when removing / updating objects you need to perform actions after. Like removing it from another objects collection, call other function and so on.. The actions is needed to be performed af

[2020-09-21 14:53] jrista commented on #157
Sounds perfect! Let us know if you run into any other issues. Also, there is a lot more documentation on best usage practices in the GitBook documentation I linked above.

[2020-09-21 15:02] jrista commented on #158
Hi @Inexad! Thank you for the report!

Indeed, this is a bit of a rough area in NgRx Auto-Entity right now. It is also an area we are hoping to address in the near future. We do not yet have an ideal solution that would allow end developers to solve this problem easily, but we are working on it.

Now, we have made some small strides toward supporting this kind of functionality. You should be using

[2020-09-21 15:03] #155 closed

[2020-09-21 15:07] schuchard commented on #158
Also within the 0.5.0 betas, the actionable facade methods return the correlationId (you can also create your own and pass it to the method if you'd like).

[code]

[2020-09-21 15:16] Inexad commented on #158
@jrista @schuchard
Thanks once again for a throughout explanation and status update!

I will use correlationId for now and i'm very excited for upcoming updates of this great package! I'm currently migrating some of our business system using this package, and it works good so far !

Regards.

[2020-09-21 16:25] jrista commented on #158
Let us know if you run into any other issues. I'll also probably reply to this issue with some additional code examples later this evening, as I want to make sure you understand all the little nuances of "correlating" actions.

[2020-09-23 13:22] Inexad opened #159 "Error: Detected unserializable action at "info.modelType""
Hi,

I get error: Error: Detected unserializable action at "info.modelType".

**app.module.ts**

[code]

**state.module.ts**
[code]

**app.state.ts**

[code]
**order.model.ts**

[code]

If i change the runtimeChecks settings i get other errors instead, such as properties of order is readonly.

Any ideas what might be casing this? It worked fine before i updated to version: 0.5.0-alpha.7 from 0.4.1

[2020-09-23 15:51] jrista commented on #159
This is normal with Auto-Entity. We are including the actual model class (a type) in the actions as the `.info` property. As such, Auto-Entity does not support strict action serializability. Because the model type is currently required in order to access all the key metadata added to each entity via the `@Entity` and `@Key` decorators, there is no way around this at the moment.

You will simply ne

[2020-09-23 15:59] jrista commented on #159
Regarding the properties of order being readonly. This is also normal for NgRx in general. You should never modify an object you get out of state directly. That would be MUTATING an immutable object. This is the strict immutability checks saving you from yourself. ;)

You also still have a non-default constructor. You cannot use non-default constructors with Auto-Entity. Your use of Object.assign(

[2020-09-23 16:02] Inexad commented on #159
Thanks ! I've disabled the strict serializeable settings.

In order to edit the object without mutating it, what is the best practise ? Currently i subscribe to current$ (or similiar) and edit it. This causes the read only property error. How would i get past this? Retrieve the object and store it in component before updating it?

Regards.

[2020-09-23 16:45] jrista commented on #159
So, when you are editing. Is this normally through a form? Or are you modifying the entity data in other ways? My generally recommendation is to use Reactive Forms in Angular. I have a common pattern I use myself with container and presenter components that I'd be happy to share. It might be best to share that through the docs, though. Something I've been meaning to do on the gitbook docs is to ad

[2020-09-23 16:53] Inexad commented on #159
Normally just throught different function calls in component when things happening. Can also be through forms.

That sounds very useful!

[2020-09-23 17:10] jrista commented on #159
I'll write something up as soon as I get a chance. The forms stuff is relatively simple in nature at a high level.

[2020-09-24 04:34] Inexad commented on #159
The "Update"-function can't be used to update objects in this case i understand. It's only for the service call, i still need to build own reducer for updating the state before using the auto entity update function. Do i understand this correctly ?

[2020-09-29 11:40] Inexad commented on #159
Above error got resolved after updating to latest auto-entity.

[2020-09-29 11:47] Inexad opened #160 "[NGRX-AE] ! Entity key could not be found"
Hi,

I get following error for one of my entities:

`reducer.ts:968 [NGRX-AE] ! Entity key for 'Design' could not be found on this entity instance! Make sure your entity is properly decorated with the necessary key metadata. State will NOT be updated due to misconfiguration of your entity.`

I have other entities that uses exakt same code as below, and they work without any error. What am i missin

[2020-09-29 11:56] Inexad commented on #160
Dammit.. Recognized now what i did wrong.

I loaded the data with:  `designFacade.load("123");`

The return of data id does not match that. I will rewrite using loadAll() and criteria instead.

[2020-09-29 11:56] #160 closed

[2020-09-29 15:54] jrista commented on #159
@Inexad I would avoid disabling `strictStateImmutability`. You are now mutating your state, which is a very bad thing. You should avoid that at all costs.

To maintain immutability with NgRx in general, you need to COPY objects to modify them. You can no longer do:

[code]

Instead, you must now do this, which does a shallow clone of the original, and sets the new value of the property:

[code]

Y

[2020-09-29 15:55] jrista commented on #159
If you want to make life a little easier on yourself when it comes to updating objects with strict immutability, you could look into ImmerJS.

https://immerjs.github.io/immer/docs/introduction

[2020-09-29 17:26] jrista commented on #159
@Inexad I forgot that I already had an example of a simple presenter form on our gitbook documentation. You can find it here:

https://briebug.gitbook.io/ngrx-auto-entity/examples/application/modal-component

[code]

In this case, submission of the form is externalized from the presenter to the parent container. However, it is just as easy to embed a submission button on the form presenter as well

[2020-09-29 20:32] jrista commented on #160
So, just curious...if you load by "123", is that looking up by the primary key, or a surrogate key?

[2020-09-30 05:45] Inexad commented on #159
Hi,

@jrista Ok, so i need to copy object for every change. Got it. 

So i use below to do so:

[code]

When should i use the auto entity facade function: `Update()` ? I thought this function did the shallow copy and updated the state.

Thanks for the examples !

[2020-09-30 05:50] Inexad commented on #160
Yes, the problem was that this data did not have any primary key. I just
set something in backend before returning it, in this case 1,2,3.
So when load() using a ID (clientId: 123) i return this data. For this
entity i had a "custom" controller "load()" endpoint that returned the
entities 1,2,3 when passing id: 123.

I now use the "loadAll({ id: 123 })" and it works.

Regards.

Den tis 29 sep. 202

[2020-09-30 19:16] jrista commented on #158
@Inexad Correlation is a more complex topic, and since it is taking some time to get the details together, I've decided to just add it all to our git book docs. Keep an eye out there for the info on how to coordinate.

[2020-10-01 11:24] Inexad commented on #158
@jrista Thanks! I will keep checking the git book docs.

Regards

[2020-10-01 13:53] jrista commented on #158
So the facades are simply there to facilitate using NgRx. That means selecting data and dispatching actions.

Dispatching an action initiates an asynchronous process...and this is explicitly by design. Calling load on a facade does not mean that we make an http call directly, and can then just "wait" for its response. Calling load on a facade simply dispatches an ngrx action that ultimately result

[2020-10-02 19:27] jrista commented on #159
The pre-made facade can get you going with basic functionality. When you start moving into more advanced territory, you will usually find that you need to create some of your own actions, add new methods to the facade to dispatch those actions, and then write effects to handle those actions appropriately. When you get into effects, instead of using the facade, you would normally just create the ac

[2020-10-03 06:41] Inexad commented on #158
@jrista Thanks so much for this throughout explanation!

Regards!

[2020-10-03 06:41] #158 closed

[2020-10-03 06:43] Inexad commented on #159
@jrista Once again, thanks so much for throughout explanation !

[2020-10-03 06:43] #159 closed

[2020-10-22 05:32] jrista opened #161 "Support "bare edits" for editing new objects that will eventually be created"
Editing "bare" objects, that do not yet exist in state, has been requested by several parties to support a richer edit flow. While editing existing entities was the primary goal of the edit/change/endEdit functionality added to NgRx Auto-Entity, the need to track changes to entities that are being newly created is just as useful.

[2020-10-26 17:37] jrista opened #162 "Refactor: Change the internal state building functionality to build on demand"
NgRx currently pre-builds all the defined functionality for each and every entity. This includes initial state, a facade, a large set of selectors, and as of 0.6 a large set of actions. This dynamic code generation for a large set of functionality is potentially creating unused code which could increase memory load in entity-heavy apps, and may have other performance side effects.

This proposal r

[2020-11-18 22:31] schuchard opened #163 "Better error feedback when loading? Unable to locate load method"
Not sure if this is possible but it would be nice to display the method that the service is trying to call and the action that's originating the issue. For example, `Unable to locate load method ...` display and can point to the `entities.map()` method saying it can not call method `map` of undefined.

The `load` in `Unable to locate load method` can be confused with dispatching a Load action.

Th

[2020-12-01 13:26] Inexad opened #165 "Pagination - IEntityWithPageInfo"
Hi,

Currently i use this code for retrieving page data (following documenation on Briebug):
[code]
I can easily access current page and stuff from the facade. How can i access the `IEntityWithPageInfo` data ? I'm looking for the totalRecords value to show with my pagination. Is this possible to access without the need of creating own effects & actions for it ?

Regards.

[2020-12-02 08:27] Inexad commented on #165
I now found what the problem was...

`this.http.get<{ totalRecords: number; }>(....)` => I changed this to only type of number. Now i can access total results with: `totalPageable$`

[2020-12-02 08:27] #165 closed, assigned to nobody

[2020-12-02 16:05] jrista commented on #165
@Inexad Aye. For the actual `get` generic type, you may need to specify exactly what you get back from the server, then use a .pipe() on the call to transform that, into what auto-entity expects. I need to improve our documentation on this on gitbook.

[2020-12-05 01:01] ri0t commented on #147
I have it running with angular 10.1.2 and ngrx 1.2, nicely.

[2020-12-15 18:50] jrista commented on #147
Thanks for the update, @ri0t! Very glad to hear!

Quick question: Are you running ngcc? If so, just curious how that's been working for you.

[2020-12-16 16:35] #161 closed

[2020-12-16 16:35] #150 closed

[2020-12-16 16:35] #76 closed

[2021-01-15 20:07] ri0t opened #167 "How do effects get triggered when using a Websocket instead of angular.common.http?"
I've mostly adapted parts from the demo app to run with my websocket based backend and the most important bits do run.

One important thing is lacking though: How do i enable triggering of the createSuccess/deleteSuccess effects for entities?

Can you maybe give me an example of e.g. how to set up a entity-service delete-operation with a rxjs-websocket-based service? Thanks in advance!

[2021-01-15 20:59] jrista commented on #167
Hi @ri0t. I'm sure we can figure out a solution. I'm curious if you have a demo project or source code somewhere that I could take a look at?

One initial tip is that effects do not only have to work off of the Actions stream. Effects can operate off of any stream, so if your websocket has an Observable, you could write an effect to work from that stream initially, transform it to create the the n

[2021-01-18 16:00] jrista commented on #167
@ri0t Just wanted to check in and see if you were able to make the effects work for you as described. If not, I could still take a look at your current solution and see if I can offer more advice.

[2021-01-22 05:59] jrista opened #168 "Make props optional for actions that do not require any props to be specified"
The new ngrx 8+ style action factories currently require that an object be passed for props at all times. This can be inconvenient and inconsistent with createAction type actions, which if props are optional do not require an object to be passed in.

[2021-01-22 06:00] jrista opened #169 "Add missing deleteByKey action factories"
The deleteByKey set of actions for action factories were not included in the original implementation.

[2021-02-26 15:42] jrista opened #170 "Auto-entity meta-reducer does not pass next state to next reducer"
When the auto-entity meta-reducer handles an auto-entity action, instead of generating a next state that is then passed on to the next reducer/meta-reducer in the chain, it simply returns the next state directly which ends propagation.

While the auto-entity meta reducer is able to manage its own state, this prevents any opportunity for the end developer to handle auto-entity actions in their own

[2021-03-25 17:03] jrista commented on #152
@schuchard Sorry, never saw your response. Tracked in state would be by some kind of transaction or batch id. I am not sure exactly when that state might be able to be cleaned up...it might need some kind of lazy handler to clean things up late, so that the state doesn't get nuked before the application has a chance to fully utilize it. But, as long as there is a unique transaction/batch id for ea

[2021-04-06 00:13] #149 closed

[2021-04-07 19:00] #170 closed, assigned to jrista

[2021-04-07 19:00] #169 closed, assigned to jrista

[2021-04-07 19:00] #168 closed, assigned to jrista

[2021-04-07 19:02] #147 closed

[2021-04-07 19:02] #167 closed, assigned to nobody

[2021-04-29 00:56] jdgarvey opened #174 "facade.deselectAll() throws an error"
Whenever I call the `deselectAll()` method on a facade, I get the following error:
[code]
It seems to be caused by this line of code:
https://github.com/briebug/ngrx-auto-entity/blob/2b130c3e9d4939dbe5c5bf6266ac560495f1ca9c/projects/ngrx-auto-entity/src/lib/effects/operators.ts#L405

Here's a stackblitz... go to the `resetSelected` method.
https://stackblitz.com/edit/ngrx-todos-example-bxchuh?file

[2021-05-13 07:42] jrista opened #179 "Apply transforms in reverse order when going toServer"
Currently, transforms are applied in specified order for both `fromServer` and `toServer`. This works fine when data is coming from the server, however if there are any dependencies between transforms (i.e. progressive transformation by different individual transforms), then processing in specified order when sending to server is incorrect.

Processing order must be in reverse order when sending d

[2021-05-26 07:37] Inexad opened #180 "Support Angular12?"
Will briebug support angular 12 ?

[2021-06-16 21:00] Wells-Codes opened #183 "Type errors for DeleteByKeyFailure & DeleteByKeySuccess"
Property 'error' is missing in type 'DeleteByKey<TModel>' but required in type 'DeleteByKeyFailure<TModel>'.

https://github.com/briebug/ngrx-auto-entity/blob/2b130c3e9d4939dbe5c5bf6266ac560495f1ca9c/projects/ngrx-auto-entity/src/lib/util/action-map.ts#L111

[2021-06-21 16:11] #174 closed, assigned to Wells-Codes

[2021-06-21 16:13] #183 closed, assigned to Wells-Codes

[2021-06-21 16:14] jrista commented on #180
We will be looking into it. We will likely have to account for the new library requirements for v12, and once we get that figured out, we'll release an update.

[2021-08-02 10:38] #180 closed, assigned to Wells-Codes

[2021-08-02 10:41] Inexad opened #187 "Question: Roadmap & date"
Thanks for a great package !

I wonder is there anywhere i can see timeframe / dates for upcoming updates & roadmap ?

Regards.

[2021-08-02 15:54] jrista commented on #187
Hi @Inexad. We are actively working on some internal improvements, that won't really change how the library is used, but should improve how it works (lower memory footprint, only generate code that is actually used, etc.) Some of the internal reorganization is to help with long term maintenance.

We have just recently been working on angular 12 support, and have achieved that. That said, the next

[2021-08-02 16:16] Inexad commented on #187
Thanks so much for quick answer!

Is it possible to get some kind of callback functionality for actions? Currently i override all actions and save the response in array, which i then can access using correlation id.. This works good but doesn't seem optimal.

[2021-08-02 23:14] jrista commented on #187
Can you explain more about what you are trying to do?

One thing I do have in our issues list is a batch actions feature. This would be kind of like a client-side corollary for transactions. Batches would allow you to start a batch (which in turn, may allow you to set up a distributed transaction, or start a transaction on the server, etc.), then reference the batch whenever you dispatch an auto-e

[2021-08-03 05:55] Inexad commented on #187
Ok !

#158 what i mean is related to this topic.

I've achieved this by doing:

effect.ts
[code]

Then in the facade.ts i can access "effected" array.

[code]

In component.ts:

[code]

This works.. But it requires me to override every effect and make a custom of it.

Regards.

[2021-08-17 05:07] Inexad opened #191 "Multiple stores (.forFeature()) with ngrx-auto-entity"
Is it possible to use multiple stores in ngrx-auto-entity ? I currently have 2 modules and different stores and states but i get following error:

[code]

I just want to make sure it is possible to use .forFeature() and multiple stores with this package?

Also thanks again for a great package !

**UPDATE:**
I get these entity state errors, but data still loads into stores.

![image](https://user-i

[2021-08-17 05:28] Inexad commented on #191
Sorry for such a short description, but getting a bit crazy as i got 50+ different models, facades, effects etc and now wanting to divide them into multiple stores, this causes some briebug errors such as above

[2021-08-17 16:06] jrista commented on #191
Hi @Inexad. This definitely should be possible. We put in effort to explicitly support feature modules, but it does require some specific setup.

Quick question...are you using `buildState` or `buildFeatureState` for your feature entities? If you are just using `buildState` that might be the problem. The `buildFeatureState` function lets you specify the feature name for your NgRx Feature state, an

[2021-08-17 16:11] Inexad commented on #191
No I currently use buildState().

Do you have any example when using buildFeatureState and createFeatureSelector ?

Regards.

[2021-08-17 16:22] jrista commented on #191
This should get you going:

https://briebug.gitbook.io/ngrx-auto-entity/advanced/usage/building-state/buildfeaturestate-func

[2021-08-18 05:12] Inexad commented on #191
Thanks! I've changed to "buildFeatureState" and also creatingFeatureSelector. However i recieve the same error.

user.state.ts
[code]

user-store.module.ts

[code]

user-layout.module.ts

[code]

app.module.ts
[code]

[2021-08-18 05:48] Inexad commented on #191
Thanks! I've changed to "buildFeatureState" and also creatingFeatureSelector. I now recieve a "Uncaught ReferenceError: Cannot access 'USER_FEATURE' before initialization". Tried to google this without success.

checkout-row.state.ts

[code]

user.state.ts
[code]

user-store.module.ts

[code]

user-layout.module.ts <- Lazy loaded module

[code]

app.module.ts
[code]
![image](https://user-images.gi

[2021-08-18 21:17] jrista commented on #187
Sorry about this. I thought I posted this, but I think the call timed out and it never went. Here it is again.

So, I think you may be able to solve this problem better with a reducer. You are using a subject to store information, basically. An accumulation of data over time. Now, I am going to assume your checkout is not actually `undefined`. Solving this by accumulating each checkout mapped to t

[2021-08-19 05:28] Inexad commented on #187
Thanks so much for example ! I will for sure look into using state/reducers for this.

Is it possible to get this kind of functionality built into auto-entity? Would save so much time.

Regards.

[2021-08-19 15:31] jrista commented on #187
I have to be careful about how much I build into auto-entity. It serves a particular purpose, to take care of creating entity boilerplate for you. But, there are countless ways to use that state, and I can't encapsulate all of them.

I think what you are doing here is a specific use case, so it should probably be left up to the developer to manage this kind of thing.

[2021-08-19 15:46] Inexad commented on #187
I understand that.

Isn't a callback functionality for any of the actions a good feature that
are useable by most developers ? I'm thinking in case of loading spinners,
redirecting, other actions that need to happen right after a auto-entity
action is done.

Regards.

On Thu, 19 Aug 2021, 17:31 Jon, ***@***.***> wrote:

[2021-08-25 18:37] jrista commented on #187
So, a lot of that can already be done. A loading spinner, for example, can be displayed so long as one (or more, if you write a custom selector) isLoading selectors from Auto-Entity emit true. That was why the isLoading states were included, for spinners or in-page loading messages.

If you actually do need to correlate the result of a specific auto-entity action, that is what the correlationIds a

[2021-08-26 15:52] jrista commented on #191
Hi @Inexad. I'll need a bit of time to digest your issue here, and I'll get back to you.

Can I ask for the versions of angular and ngrx that you are using?

[2021-08-26 16:03] jrista commented on #191
@Inexad Could I also ask you to create a reproduction? StackBlitz or a public repo?

I suspect something with regards to feature state setup has changed in a more resent version of NgRx. I'll need to be able to test out the scenario and do some debugging to figure out a solution.

[2021-10-27 21:18] schuchard opened #195 "Update `license` field spelling in package.json"
The license field in the packag.json is spelled incorrectly. This causes the license to not be displayed correctly on all sites such as [NPM](https://www.npmjs.com/package/@briebug/ngrx-auto-entity).

https://github.com/briebug/ngrx-auto-entity/blob/develop/package.json#L4

[2021-11-01 17:23] jrista commented on #191
@Inexad Were you ever able to resolve this?

[2021-11-02 09:45] Inexad commented on #191
Jon, sorry for late reply.

No I didn't and we had to move on to different parts of our projects due to
time.

Sorry for not replying back for long time.

As I cannot provide example at the moment we can close this.

Regards

On Mon, 1 Nov 2021, 18:23 Jon, ***@***.***> wrote:

[2021-11-05 16:10] jrista commented on #191
Ok, thanks for the update @Inexad. We don't have tons of issues, so I'll leave this open until you are able to return to it.

You should be able to break things up into feature stores. We will just need to figure out why its giving you a premature usage error and hopefully you'll be golden.

[2021-11-06 04:48] colesanders opened #202 "Code Duplication"
When extending the base facade you're required to provide a constructor along the lines of:
[code]

However, as the base facade comes from the `buildState()` call, it seems to be a pointless extra. The entity could instead be provided to the facade through the `buildFacade()` factory.

[2021-11-12 14:12] Inexad opened #203 "Multiple keys error"
When defining entity like:

import { Entity, Key } from '@briebug/ngrx-auto-entity'

[code]

I get following error:

![image](https://user-images.githubusercontent.com/8613836/141480457-0607255c-10f5-4947-bfd4-c10e40c2e6fe.png)

I've followed example from documentation:

https://briebug.gitbook.io/ngrx-auto-entity/advanced/usage/building-your-entities

What i'm doing wrong ?

[2021-11-12 16:25] jrista commented on #203
@Inexad Can you provide your environment details? Platform, angular version, auto-entity version, ngrx version?

Maybe also specifically the typescript version as well... Multi-prop keys are definitely supported and we have used them ourselves, however...with NG12 typescript is in strict mode by default, and that might potentially be introducing new checks that we need to account for.

[2021-11-12 16:38] Inexad commented on #203
Windows 10.

[code]

dev:
   "typescript": "~4.3.5"

[2021-11-12 16:42] Inexad commented on #203
Sorry! I'm a retard.. In 0.6 of briebug it says this is fixed.

I close this.'

[2021-11-12 16:42] #203 closed, assigned to nobody

[2021-11-13 10:22] alejandroaap opened #204 "Update for using angular v13 and NGRX v13"
Hi,

Given that version 13 of angular has already been released and that NGRX has released version 13.0.0-rc.0, when will a new version of this library be available?

Thanks

[2021-11-17 23:49] jrista commented on #204
Hi @alejandroaap. Excellent question! We are currently testing auto-entity with 13. We have been trying to maintain backwards compatibility with older versions of Angular, as many companies/organizations aren't able to stay abreast of the curve. Currently we support Angular 9-12. With the latest versions, we dropped support for Angular 8, to prepare the way for using the Partial IVY builds.

Techn

[2021-11-19 07:08] Inexad commented on #204
Compability for ng13 would be awesome! Currently we are waiting with updating to ng13 for this package to be updated before.

[2021-11-24 11:11] Inexad commented on #187
Thanks ! This works well :).

[2021-11-24 11:11] #187 closed, assigned to nobody

[2021-11-25 09:04] alejandroaap commented on #204
@jrista Thank you very much for the information. When will a beta version be available to test?

[2021-11-29 17:43] Wells-Codes commented on #202
@colesanders I think you have a good point and I like this idea. I'm pretty sure it could be accomplished easily (see https://github.com/briebug/ngrx-auto-entity/commit/a2772e06db2cadb11fa711e22ddbcf64f4e4ff8d), but I don't think we'd be able to maintain backward compatibility. It'd break any apps using the old syntax (see https://github.com/briebug/ngrx-auto-entity/commit/72c0a9151ba2815489e6cb59

[2021-11-29 17:53] jrista commented on #202
@Wells-Codes I chatted with @colesanders about it a bit. I am concerned about backwards compatibility, however we may be able to accomplish it with overloaded constructors. I haven't tried that yet, so we will have to see if it works.

[2021-12-01 23:15] jrista commented on #204
Quick update. Preliminary investigation is indicating that supporting both ng12 and ng13 will not be possible with a single version of ngrx-auto-entity.

Angular 13 has moved to RxJs 7, which is not backwards compatible with prior versions of RxJs. Further, there is no compatibility library (which in fact was something we at BrieBug looked into making ourselves at one point, and realized with the

[2021-12-09 14:10] RBleyenberg opened #205 "Async validation"
Question...

Without ngrx-auto-entity i'm able to implement the async form validation as follow;

`  private existTitle(): AsyncValidatorFn {
    return (control: AbstractControl): Promise<{ [key: string]: any } | null> | Observable<{ [key: string]: any } | null> => {
      const invalid = control.value;
      return this.store.select(TitleSelector.getAllAbbrev, { abbrev: invalid}).pipe(
        d

[2021-12-09 16:15] jrista commented on #205
Hi @RBleyenberg. So, with Auto-Entity, you are not required to use the Facades. The facades are there as a convenience if you are interested in using facades, but they are just an option. We provide all of our selectors to the developer through the `buildState` functions. So if you want to build your own custom selectors, you can, and it is very easy to do.

When calling `buildState` for an auto-e

[2021-12-09 16:25] RBleyenberg commented on #205
awesome... thx for this great answer \o/

[2021-12-09 19:16] RBleyenberg opened #206 "debug error [Entity key]"
i'm getting the following error within the console;

`[NGRX-AE] ! Entity key for 'Country' could not be found on this entity instance! Make sure your entity is properly decorated with the necessary key metadata. State will NOT be updated due to misconfiguration of your entity.`

looking at my model.. i'm not seeing any errors as far as i know;

@Entity({ modelName: 'Country', pluralName: 'Countrie

[2021-12-09 20:50] jrista commented on #206
Hi @RBleyenberg. So, this may be a naming issue. You call your entity `Country`, but the class name is `ICountry` and that may be causing problems. The `modelName` must match the name of the class, so you should either set the modelName to `ICountry` or rename the model to `Country`.

The `modelName` decorator property exists, so that at runtime, even with minified code, I know which class instanc

[2021-12-09 21:00] RBleyenberg commented on #206
ah that's it...  so used to interfaces and naming them with I as prefix.
overlooked that where using classes as model here and the model and modelName == entity

thx again \o/

[2021-12-15 18:11] jrista commented on #206
Sure thing, @RBleyenberg! Let us know if you run into any other issues.

[2022-01-05 15:28] alejandroaap commented on #204
Hi @jrista, do you have an estimated date for a beta version?

[2022-01-05 16:40] jrista commented on #204
Nothing concrete. Because of the changes in Angular and NgRx in the latest versions, we are going to have to split out development. I'm working on getting a final version that is as stable as possible for the current functionality. Once we have that, then I'll work on refactoring the internal functionality to support Angular 13 and NgRx 13 to account for their breaking changes. Now that the end of

[2022-01-05 17:49] alejandroaap commented on #204
@jrista  Great, thanks for the information. Eager to try those new features.

[2022-01-13 09:28] Inexad commented on #204
@jrista Thanks for this info! I'm also eager to try those new features.

[2022-01-24 17:02] jrista commented on #204
@Inexad @alejandroaap Quick question. Are you guys on Angular 13, or are you planning on moving to NG 13 or 14 soon?

[2022-01-24 17:19] jrista opened #208 "Unable to find entity states for optional loading if states are created with `buildFeatureState`"
The optional loading operators were originally designed to work with standard entity states, rooted in the root state object. If entity states created under feature state buckets are used, the optional loading operators are unable to find the states in their feature child object.

The root state getter function for optional loading operators needs to be updated to check if the entity has feature a

[2022-01-24 17:36] alejandroaap commented on #204
Hi @jrista,

We are currently on angular 13 and the only library left to update is ngrx and this one. As soon as it is available, we will proceed to migrate to ngrx 13.

Greetings ;)

[2022-01-24 18:10] Inexad commented on #204
Hi @jrista,

Same for us. But some projects we wait on updating to 13 because we want these packages to update to.

[2022-01-25 00:55] #208 closed, assigned to jrista

[2022-01-25 00:55] #206 closed, assigned to nobody

[2022-01-25 00:56] #205 closed, assigned to nobody

[2022-01-25 01:02] jrista commented on #191
@Inexad Just wanted to give you an update. I just fixed a bug in our optional loading functionality. When trying to test that, I ran into the same issue you did, same error.

Turned out to be a circular reference issue. I had my `FEATURE_NAME` constant and `featureState` selector in a feature.state.ts file, which was importing each of my entity states. The entity states, then, were using `buildFea

[2022-01-25 01:02] #191 closed, assigned to nobody

[2022-01-25 01:02] #195 closed, assigned to jrista

[2022-01-25 01:03] jrista commented on #96
After some contemplation, I think I am going to go with only the functional option, to keep things simple and consistent:

[code]

[2022-01-25 01:05] jrista commented on #204
@Inexad Thanks for the feedback. I'm working on getting this library squared away for v12 and v13 releases. I have a few features to implement, a few tweaks to make, and then I should be able to five into dealing with all the breaking changes in rxjs 7, ng 13 and ngrx 13 to get this working for the latest Angular.

[2022-02-19 01:14] jrista commented on #202
It looks like there is no way to do overloaded constructors with TS. It would be nice to make this change, and it looks like @Wells-Codes started a branch for it. It might be best to time this change when we may have to make other breaking changes, which should happen soon when we support Angular 13 (and probably 14). We will have to make breaking changes at that point, and I think we could make t

[2022-02-19 01:15] #179 closed, assigned to Wells-Codes

[2022-02-19 01:37] jrista commented on #71
I believe this functionality should be left to custom extended state implementations, where it might be necessary for specific use cases. I am not sure it belongs integrated into Auto-Entity, since it now has support for strongly typed extensions to the state model for each entity.

[2022-02-19 01:41] jrista commented on #117
I've spent more time reviewing the options here, and I am not sure there is any way around the issue at the moment. We don't have any way to effectively track the use-case specific instances of a generic entity, unless each instance has its own state. If entity states were created for `Alert<Satellite>` and `Alert<Station>`, that would probably work, but state for the underlying generic itself, `A

[2022-02-19 01:41] #117 closed

[2022-02-19 01:42] jrista commented on #116
Since we did in fact introduce the new entity-specific action creators, outside of legacy support, which hopefully will not be required going forward, I think this issue is no longer relevant. Closing for now.

[2022-02-19 01:42] #116 closed

[2022-02-19 01:45] #163 closed, assigned to nobody

[2022-02-19 01:49] jrista commented on #97
Instead of changing the loading process, I think in the case where combined entity data comes back from a single API, that would be a PARTIAL custom use case. Handling such a use case is possible today. The developer would require a single initiating action and an effect to handle their aggregate load. That effect, in turn, would then be able to emit its own "intermediate" action containing the fu

[2022-02-19 01:49] #97 closed

[2022-02-19 01:53] jrista commented on #204
@Inexad @alejandroaap Been cleaning up my branches today, pulled in all the dependabot alert branches into my main work branch, and have consolidated my fixes from various branches. I have one more major thing to do for 0.8.0-beta.1, and I'll get it released. This will be a beta release, but fundamentally the external API is not actually changing, and should be entirely backwards compatible with 0

[2022-02-19 10:27] Inexad commented on #204
@jrista This is great! Looking forward to use the new version. Keep up the great work !

[2022-02-28 16:00] jrista commented on #204
@Inexad @alejandroaap Ok. Last major refactoring effort is done. The internal state structure has been changed, and all the selectors optimized as a result, which should lead to more efficient selectors that only recompute their memo when related data actually changes.

I need to finish unit testing this, then I'll get 0.8.0 beta out for testing. Note that this release has some potentially breakin

[2022-03-02 14:27] alejandroaap commented on #204
Hi @jrista, thank you very much for the information. When the beta version is available I will proceed to try it. Greetings.

[2022-03-05 07:15] Inexad commented on #204
Hi @jrista thanks !! I will update and start using the new version. ASAP. I hope you don't have to struggle to much for a ng13 version. Regards

[2022-03-22 16:49] jrista commented on #204
@Inexad @alejandroaap Hi guys. Just wanted to provide you with an update, since its been longer than I expected. I have run into a couple of delays and snags with the latest update. The first is testing the recent changes has been more time consuming than expected, as it is a rather foundational change. I decided to clean up the repo and try to lean it up a bit along the way (removed the now defun

[2022-03-30 15:21] jrista commented on #204
@Inexad @alejandroaap Alright guys. So sorry for the delays. I think I've finally sorted out all the various dev issues with this new mac. I also sorted out unit testing issues I was having due to changes in node.js and npm versions, updates to various packages, etc. I will be getting a preliminary beta build out tonight or tomorrow with the latest changes. I'll begin working on ng13 support as so

[2022-03-31 04:59] gabwest commented on #204
@jrista
Yay! I can finally start working on updating to ng13.
Awesome job!
🥳

[2022-04-01 16:19] jrista commented on #204
@gabwest Soon! Not quite there yet, but I did some extra work with the latest PR to remove code that was hampering progress, lighten up the repo, upgrade Jest, and do a few other things to pave the way for NG13 support.

For those interested, you can view the PR #216. There are some significant internal changes, but they should be transparent to the public API. I'd welcome any feedback on this PR

[2022-04-05 17:02] jrista commented on #204
Ok, v0.8.0-beta.1 has been published. I don't recommend this for code to be released immediately. I have done pretty extensive testing, and I think its working well, so it should be fine for dev environments. I'll be keeping an eye out for bug reports though and will get them tackled as quickly as possible when they are reported. I'll be pivoting to working on NG/NGRX 13+ support now.

[2022-04-06 05:41] gabwest commented on #204
Thank you for the awesome job you've been doing with this. :)

[2022-05-04 16:51] jrista commented on #96
This will be the final feature for NgRx Auto-Entity before its final v12 (to align with Angular v12 back to v9) release. This feature will touch a number of key locations in the code, so I'll release it as a beta initially, but once this feature is done final work can begin on converting the library over to use angular 13 and up (which switches to RxJs v7).

[2022-05-05 15:18] Wells-Codes opened #218 "Feature: Selector for loadWasAttempted"
Sometimes we want to know if an entity has attempted a load. We currently have `isLoading` and `loadedAt`, but neither of those tell us if a load failed. The easiest way to set this value would be if `isLoading === null`, because it changes to `true` or `false` after the first attempt.

I'm sure we'll want to add this to the facade too.

[2022-05-05 19:39] #218 closed, assigned to nobody

[2022-05-05 19:42] jrista commented on #96
Looks like this change will have to be fairly extensive, and most likely breaking. For now, I'm going to shelve this issue. Will address at a later date, as being able to specify a custom key retrieval function would be very useful.

[2022-05-05 19:43] jrista commented on #162
This has been implemented in 0.8.x. Testing has thus far verified the new state structure, as well as the refactored reducer, work as expected without issues so far.

[2022-05-05 19:43] #162 closed

[2022-05-05 19:44] jrista commented on #111
Internal state structure was refactored in 0.8.0, along with updates to all selectors to utilize the new structure. A major overhaul of the reducer was implemented alongside the state structure changes, as much of the monolithic reducer had to be touched anyway to account for the structural changes. Testing so far indicates the changes are working as intended without any breaking issues or undue s

[2022-05-05 19:45] jrista commented on #111
Internal state structure was refactored in 0.8.0, along with updates to all selectors to utilize the new structure. A major overhaul of the reducer was implemented alongside the state structure changes, as much of the monolithic reducer had to be touched anyway to account for the structural changes. Testing so far indicates the changes are working as intended without any breaking issues or undue s

[2022-05-05 19:45] #111 closed

[2022-05-05 19:47] jrista commented on #204
Working on releasing v12.0.0 official release, with support for Angular 9-12. We were trying to add some richer functionality around how keys are identified, however that will have to be a breaking change, which we are not ready to do at the moment. With that issue shelved, once v12 is released we will be updating angular and ngrx to 13 and rxjs to 7. Hopefully any breaking changes there won't tak

[2022-05-17 05:46] Inexad commented on #204
@jrista I'm very happy to hear this! How's the progress with v12 ? Anything we can do to help ?

[2022-05-25 19:50] jrista commented on #204
The v12 release is coming. The only real task for it is unit testing, to make sure I have enough coverage on the critical aspects of the library before I try to upgrade angular, ngrx and rxjs for v13. I had an extremely high torque client come up with a very, very tight deadline this week, which has forced me to put auto-entity on hold for the moment. I am hoping once the next couple of key releas

[2022-05-25 19:54] jrista commented on #204
@Inexad Regarding how you could help... I am really trying to get unit testing coverage up as much as possible. That is very easily something anyone from the community can help with, and I would GREATLY welcome any such help! Getting unit testing coverage as high as we can should help ease the transition into Angular 13 and Angular 14, once I release auto-entity v12. If you would be willing to hel

[2022-06-16 23:24] jrista opened #222 "Preparing for v12 and v13/14 releases"
# NgRx Auto-Entity v12 Forthcoming Release

The day is nearly here for an official stable release of NgRx Auto-Entity. This has been a side project and hobby of mine for quite some time now, and it has been tough to get the time to work on it lately. You would have thought the pandemic lockdowns would have freed me up, however the opposite seems to have been true. Work consumed my life.

This year

[2022-08-15 12:58] Inexad commented on #222
Hi @jrista,

Hope all is good !
How's the progress for V13?

Regards.

[2022-08-29 16:16] jrista commented on #222
@Inexad We have released a beta of v14, which supports angular 13 and 14. We did run into a build issue with it in one of our own projects, so its not ready for prime time. We are definitely working on it, though!

You can find the v14 release in npm under the `beta` tag if you want to give it a whirl.

[2022-08-30 15:59] jrista commented on #222
For reference:

https://github.com/angular/angular/issues/46748

It appears that we may have to build versions of the lib for each version of Angular we wish to support. As it stands, Angular 14 should work with the v14 beta version of NgRx Auto-Entity. For Angular 13 support, I'll work on getting a specific build created for that version of Angular. Not entirely sure how we are going to handle th

[2022-08-30 16:49] Inexad commented on #222
Thanks for the update!

So as long as we use Angular 14 it should be fine using the beta version you released?

[2022-09-01 18:16] RBleyenberg commented on #222
Thanks for the V14, awesome work.

At the moment i'm testing the V14 package and is it correct to state that the effects classes don't fire yet from the actions.

i've create a effects file;

`@Injectable()
export class CountryEffects {

    createSuccess$ = createEffect(() => this.actions$.pipe(
        ofType(EntityActionTypes.CreateSuccess),
        tap(() => this._matSnackBar.open('Country Cre

[2022-09-13 09:14] ZsZs opened #223 "Unable to unit test facade in feature module"
Hi,

I'm a big fan of this library, I'm using it since 2 years ago. Now I want to strengthen the test coverage, with Jest tests. While doing this, I stuck with the problem, to test entity facades in feature libraries. To eliminate other, maybe distracting features, and configurations, I created a dedicated repo, to demonstrate my problem: https://github.com/ZsZs/auto-entity-test

In this simple ap

[2022-09-14 15:23] jrista commented on #222
@Inexad Sorry for the late response...I didn't receive a notification of the last message. Right now, the v14 beta should work with Angular 14, yes.

To give you a heads up, I am thinking we may have to kind of invert our original plans for versioning. Because Angular Ivy builds now support "forward" versions, instead of releasing versions for the newest version of angular with "backwards" compati

[2022-09-14 15:24] jrista commented on #223
Hi @ZsZs. Thanks for the support! We appreciate it! Regarding the unit testing issue, give me a bit of time to investigate your repo and I'll see if I can help you resolve the issue.

[2022-09-14 16:10] ZsZs commented on #223
Thank @jrista , for your response. I spent quite a lot of time trying different unit test configurations for the feature module, without any success.  I'm really curious, about what I oversee.

[2022-09-14 16:15] jrista commented on #223
@ZsZs I've been poking around with it...its definitely strange. I think it may have to do with some wiring up of all the stuff involved in an Auto-Entity "entity state"... It does not appear as though the entity service is actually kicking off the auto-entity effects. I'm having trouble actually debugging auto-entity source code...not sure if this is because of Ivy or what, but the sourcemaps seem

[2022-09-15 03:05] ZsZs commented on #223
@jrista, thank you. Yes, I'm interested.

[2022-09-16 06:01] Inexad commented on #222
Ok, thanks for this info!

We will start upgrading our systems to v14, will be very nice to use the latest auto-entity with it. We kinda been stuck in angular 12 because we are a bit dependent on this package at the moment (not optimal, but the time save is worth it for us).

Regards

[2022-09-19 03:44] jrista commented on #222
Sounds good, @Inexad. Feel free to keep me appraised of any issues that you encounter as you work on upgrading to
NG14 and NgRx Auto-Entity 14 beta. I'll try to tackle any bugs ASAP for you guys.

[2022-10-10 17:19] jrista commented on #222
Just an update. Been working on a v13 version of NGRX Auto-Entity that would be compatible with Angular 14, and maybe 15. This has not yet been released due to peer dependency quirkiness. Since we are now potentially going to get hard errors around peer deps, I am trying to figure out if we can create more...nebulous, or dynamic, version ranges. I don't really want to say we support Angular 15 yet

[2022-10-20 17:38] jrista commented on #223
@ZsZs I just wanted to let you know I haven't lost sight of this. I've had a wildly busy month, had a car stolen, and a number of other things happen. I'm still trying to recover from the car (and wallet) theft here. I am hoping to get back into this within the next week here, so long as nothing else goes awry.

[2022-11-15 19:00] colesanders opened #232 "AutoEntityService: Support supplying a function to host in config."
# AutoEntityService
_Feature Request:_

When providing the host to the AutoEntityServiceModule config, currently only a string can be passed. Allowing a function to be provided would allow the host to be fetched dynamically at runtime instead of bootstrap. This would be helpful for hybrid apps and other use cases where the api endpoint might be dependent on the request or platform.

[code]

[2022-11-18 12:05] Inexad opened #235 "Custom effects + isLoading$"
Hi,

I wonder if there is anyway to take control over for example: "isLoading$" property.
I'm currently using a custom effect: [CustomEffects](https://briebug.gitbook.io/ngrx-auto-entity/advanced/usage/taking-control/custom-effects). The issue is that i want to be able to also set "isLoading$" property here to inform GUI about loading.

Is this possible?

[2022-11-21 16:17] colesanders commented on #235
Hey Inexad, it sounds like you want the `isLoading$` observable on the facade to reflect the loading handled by your custom effect. If you're using a custom action to trigger your effect, rather than a built in auto-entity action, then all you should have to do is add that action to your reducer for that state slice.

[code]

You should be able to tie any custom actions you want into the reducer t

[2022-11-23 06:44] Inexad commented on #235
Thanks!

How do i use this reducer combine with others? Currently i have this in a `model.state.ts` class.

[code]

[code]
How do i add above reducer to my custom action?